In [1]:
import pandas as pd 
gasdf = pd.read_csv('C:/users/gabri/documents/programming/estudos_bibliopandas/GasPricesinBrazil_2004-2019.csv', sep=';')
gasdf

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

In [2]:
gasdf.describe()

,Unnamed: 0,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA,MÊS,ANO
count,106823.00000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000
mean,53411.00000,233.770976,10.870780,0.657227,9.416038,12.537731,0.045418,6.484006,2011.802271
std,30837.28824,403.282519,17.752533,1.349169,15.092193,20.841497,0.025066,3.443391,4.391530
min,0.00000,1.000000,0.766000,0.000000,0.590000,0.999000,0.000000,1.000000,2004.000000
25%,26705.50000,42.000000,2.072000,0.072000,1.900000,2.310000,0.029000,4.000000,2008.000000
50%,53411.00000,104.000000,2.718000,0.114000,2.510000,2.999000,0.041000,6.000000,2012.000000
75%,80116.50000,243.000000,3.752000,0.191000,3.499000,4.150000,0.058000,9.000000,2016.000000
max,106822.00000,4167.000000,99.357000,10.748000,90.000000,120.000000,0.395000,12.000000,2019.000000

In [3]:
gasdf['nova coluna'] = 'DEFAULT'
gasdf['nova coluna']

0         DEFAULT
1         DEFAULT
2         DEFAULT
3         DEFAULT
4         DEFAULT
           ...
106818    DEFAULT
106819    DEFAULT
106820    DEFAULT
106821    DEFAULT
106822    DEFAULT
Name: nova coluna, Length: 106823, dtype: object

In [4]:
gasdf['coluna teste'] = range(gasdf.shape[0])
gasdf['coluna teste']

0              0
1              1
2              2
3              3
4              4
           ...
106818    106818
106819    106819
106820    106820
106821    106821
106822    106822
Name: coluna teste, Length: 106823, dtype: int64

In [5]:
gasdf.dtypes

Unnamed: 0                         int64
DATA INICIAL                      object
DATA FINAL                        object
REGIÃO                            object
ESTADO                            object
PRODUTO                           object
NÚMERO DE POSTOS PESQUISADOS       int64
UNIDADE DE MEDIDA                 object
PREÇO MÉDIO REVENDA              float64
DESVIO PADRÃO REVENDA            float64
PREÇO MÍNIMO REVENDA             float64
PREÇO MÁXIMO REVENDA             float64
MARGEM MÉDIA REVENDA              object
COEF DE VARIAÇÃO REVENDA         float64
PREÇO MÉDIO DISTRIBUIÇÃO          object
DESVIO PADRÃO DISTRIBUIÇÃO        object
PREÇO MÍNIMO DISTRIBUIÇÃO         object
PREÇO MÁXIMO DISTRIBUIÇÃO         object
COEF DE VARIAÇÃO DISTRIBUIÇÃO     object
MÊS                                int64
ANO                                int64
nova coluna                       object
coluna teste                       int64
dtype: object

Para melhorar a visualização do dataframe, podemos mudar os valores de <span style='font-style: italic'>pd.set_option()</span>

In [32]:
pd.set_option('display.max_columns', None)

In [33]:
gasdf['PREÇO MÉDIO REVENDA DÓLAR'] = gasdf['PREÇO MÉDIO REVENDA'] * 4.5
gasdf['PREÇO MÉDIO REVENDA DÓLAR']

0          5.7960
1          5.2290
2          6.2505
3          5.6790
4          5.3145
           ...
106818    16.0830
106819    15.3045
106820    13.1040
106821    13.5900
106822    16.6365
Name: PREÇO MÉDIO REVENDA DÓLAR, Length: 106823, dtype: float64

In [8]:
pesquisa = pd.DataFrame({'Em tratamento': [30, 23, 50], 'Retorno': [14, 10, 47], 'Recuperados': [70, 80, 90]}, index=['Clínica 1', 'Clínica 2', 'Clínica 3'])
pesquisa

           Em tratamento  Retorno  Recuperados
Clínica 1             30       14           70
Clínica 2             23       10           80
Clínica 3             50       47           90

In [9]:
gasdf.iloc[10:21:2]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,coluna teste,PREÇO MÉDIO REVENDA DÓLAR
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.40,1.78,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072,5,2004,DEFAULT,10,7.0785
12,12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,1.15,1.75,0.321,0.084,0.98,0.052,0.8267,1.1059,0.053,5,2004,DEFAULT,12,5.8545
14,14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.74,1.85,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122,5,2004,DEFAULT,14,8.0325
16,16,2004-05-09,2004-05-15,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.27,2.40,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172,5,2004,DEFAULT,16,8.6130
18,18,2004-05-09,2004-05-15,NORTE,RORAIMA,ETANOL HIDRATADO,14,R$/l,1.300,0.000,1.30,1.30,0.202,0.000,1.098,0.096,0.9798,1.3577,0.087,5,2004,DEFAULT,18,5.8500
20,20,2004-05-09,2004-05-15,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,0.89,1.49,0.267,0.101,0.881,0.095,0.6259,1.1381,0.108,5,2004,DEFAULT,20,5.1660

In [10]:
gasdf.describe(include='all')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,coluna teste,PREÇO MÉDIO REVENDA DÓLAR
count,106823.00000,106823,106823,106823,106823,106823,106823.000000,106823,106823.000000,106823.000000,106823.000000,106823.000000,106823,106823.000000,106823,106823,106823,106823,106823,106823.000000,106823.000000,106823,106823.00000,106823.000000
unique,NaN,785,785,5,27,6,NaN,3,NaN,NaN,NaN,NaN,11930,NaN,15997,5858,21620,22576,397,NaN,NaN,1,NaN,NaN
top,NaN,2015-07-19,2015-07-25,NORDESTE,RIO DE JANEIRO,GASOLINA COMUM,NaN,R$/l,NaN,NaN,NaN,NaN,-,NaN,-,-,-,-,-,NaN,NaN,DEFAULT,NaN,NaN
freq,NaN,154,154,36869,4263,21194,NaN,72603,NaN,NaN,NaN,NaN,3431,NaN,3400,3400,3400,3400,3400,NaN,NaN,106823,NaN,NaN
mean,53411.00000,NaN,NaN,NaN,NaN,NaN,233.770976,NaN,10.870780,0.657227,9.416038,12.537731,NaN,0.045418,NaN,NaN,NaN,NaN,NaN,6.484006,2011.802271,NaN,53411.00000,48.918512
std,30837.28824,NaN,NaN,NaN,NaN,NaN,403.282519,NaN,17.752533,1.349169,15.092193,20.841497,NaN,0.025066,NaN,NaN,NaN,NaN,NaN,3.443391,4.391530,NaN,30837.28824,79.886397
min,0.00000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.766000,0.000000,0.590000,0.999000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,2004.000000,NaN,0.00000,3.447000
25%,26705.50000,NaN,NaN,NaN,NaN,NaN,42.000000,NaN,2.072000,0.072000,1.900000,2.310000,NaN,0.029000,NaN,NaN,NaN,NaN,NaN,4.000000,2008.000000,NaN,26705.50000,9.324000
50%,53411.00000,NaN,NaN,NaN,NaN,NaN,104.000000,NaN,2.718000,0.114000,2.510000,2.999000,NaN,0.041000,NaN,NaN,NaN,NaN,NaN,6.000000,2012.000000,NaN,53411.00000,12.231000
75%,80116.50000,NaN,NaN,NaN,NaN,NaN,243.000000,NaN,3.752000,0.191000,3.499000,4.150000,NaN,0.058000,NaN,NaN,NaN,NaN,NaN,9.000000,2016.000000,NaN,80116.50000,16.884000
max,106822.00000,NaN,NaN,NaN,NaN,NaN,4167.000000,NaN,99.357000,10.748000,90.000000,120.000000,NaN,0.395000,NaN,NaN,NaN,NaN,NaN,12.000000,2019.000000,NaN,106822.00000,447.106500

In [11]:
gasdf.loc[:100, ['ANO', 'PREÇO MÉDIO REVENDA DÓLAR']]

      ANO  PREÇO MÉDIO REVENDA DÓLAR
0    2004                     5.7960
1    2004                     5.2290
2    2004                     6.2505
3    2004                     5.6790
4    2004                     5.3145
..    ...                        ...
96   2004                     7.0110
97   2004                     8.5410
98   2004                     6.9120
99   2004                     6.3000
100  2004                     5.7060

[101 rows x 2 columns]

Podemos usar o comando <br><center> <span style="font-style: italic">del dataframe['nome da coluna']</span> </center> <br> para deletar colunas indesejadas como UNNAMED: 0, coluna teste e coluna contagem. Vamos adicionar essas colunas no dataframe já que eu deletei sem querer. <br> Quero adicionar a coluna UNNAMED: 0  no início do dataframe, logo usaremos o método <span style='font-style: italic'>dataframe.insert()</span> que recebe três valores <span style='font-style: italic'>(loc=, column=, value=)</span>, desse modo não há uma maneira de criar a coluna diretamente na posição desejada, ou ela entra na última da fila, ou precisamos criar uma variável que recebe um dicionário com uma lista apenas de elemetos.

In [12]:
valores = range(gasdf.shape[0])
gasdf.insert(loc=0, column='UNNAMED: 0', value=valores)
gasdf['coluna teste'] = 'default'
gasdf['coluna contagem'] = range(0, 2*gasdf.shape[0], 2)
gasdf

,UNNAMED: 0,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,coluna teste,PREÇO MÉDIO REVENDA DÓLAR,coluna contagem
0,0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,default,5.7960,0
1,1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,default,5.2290,2
2,2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,default,6.2505,4
3,3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,default,5.6790,6
4,4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,default,5.3145,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019,DEFAULT,default,16.0830,213636
106819,106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,DEFAULT,default,15.3045,213638
106820,106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019,DEFAULT,default,13.1040,213640
106821,106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,default,13.5900,213642
106822,106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019,DEFAULT,default,16.6365,213644

Para deletar as colunas basta usar o comando <br> <center><span style='font-style: italic'> del dataframe['coluna']</span></center><br> Não é possível deletar mais de uma coluna de uma vez. Esse processo deve ser feito um por um.

In [13]:
del gasdf['UNNAMED: 0']
del gasdf['coluna teste']
del gasdf['coluna contagem']
gasdf

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,PREÇO MÉDIO REVENDA DÓLAR
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,5.7960
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,5.2290
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,6.2505
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,5.6790
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,5.3145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019,DEFAULT,16.0830
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,DEFAULT,15.3045
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019,DEFAULT,13.1040
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,13.5900
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019,DEFAULT,16.6365

<center><span style='font-weight: 500; font-style: normal; font-size: 30px'> Filtrando dados </span></center><br><br><br>
Para selecionar todos os dados de uma coluna que possua o mesmo valor, podemos usar o método<br><center> <span style='font-style: italic'>dataframe['coluna'].unique()</span></center><br> para mostrar todos os valores únicos de uma mesma coluna e assim usar esses valores como pesquisa de uma coluna. Ao usar o comando <br><center><span style='font-style: italic'> dataframe['coluna'] == 'valor desejado' </span></center><br>o pandas cria uma Series com valores booleanos de um determinado valor desejado. Atribuimos essa Series a uma variável qualquer 'x' e pedimos para mostrar a Series x como coluna do dataframe. A nova Series 'x' também serve pro método dataframe.loc[x]

In [14]:
x = gasdf['ESTADO'] == 'SAO PAULO'
gasdf[x]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,PREÇO MÉDIO REVENDA DÓLAR
23,23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004,DEFAULT,3.4560
50,50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004,DEFAULT,3.4470
77,77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004,DEFAULT,3.7035
104,104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004,DEFAULT,3.9915
131,131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004,DEFAULT,4.0230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019,DEFAULT,15.5160
106751,106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019,DEFAULT,16.0830
106778,106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019,DEFAULT,18.6390
106805,106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019,DEFAULT,301.0185
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,13.5900

In [15]:
gasdf.loc[x]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,PREÇO MÉDIO REVENDA DÓLAR
23,23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004,DEFAULT,3.4560
50,50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004,DEFAULT,3.4470
77,77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004,DEFAULT,3.7035
104,104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004,DEFAULT,3.9915
131,131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004,DEFAULT,4.0230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019,DEFAULT,15.5160
106751,106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019,DEFAULT,16.0830
106778,106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019,DEFAULT,18.6390
106805,106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019,DEFAULT,301.0185
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,13.5900

Outro método de filtragem fazer uma pergunta (query) <span style='font-style: italic'> dataframe.query('column == value')<\span>. Note que caso o <span style='font-style: italic'>value</span> seja uma string, devemos separá-lo como aspas duplas (""). Além disso, podemos aplicar argumentos lógicos **E**, **OU** como sendo **&**, **|** respectivamente. <br> <span style='font-style: italic'> dataframe.query('column1 == value1 & column2 == value2 ')<\span>

In [16]:
gasdf.query('ESTADO == "RIO DE JANEIRO"')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,PREÇO MÉDIO REVENDA DÓLAR
22,22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22,5,2004,DEFAULT,4.9410
49,49,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,0.740,1.499,0.284,0.144,0.808,0.175,0.3257,1.2921,0.217,5,2004,DEFAULT,4.9140
76,76,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,0.770,1.589,0.281,0.127,0.822,0.166,0.38909,1.1859,0.202,5,2004,DEFAULT,4.9635
103,103,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,955,R$/l,1.149,0.156,0.799,1.599,0.3,0.136,0.849,0.188,0.3453,1.3667,0.221,5,2004,DEFAULT,5.1705
130,130,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,966,R$/l,1.165,0.154,0.830,1.599,0.254,0.132,0.911,0.198,0.4,1.3667,0.217,6,2004,DEFAULT,5.2425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106718,106718,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,212,R$/l,3.569,0.166,3.179,4.059,0.467,0.047,3.102,0.119,2.886,3.5162,0.038,6,2019,DEFAULT,16.0605
106745,106745,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL S10,335,R$/l,3.697,0.187,3.279,4.389,0.5,0.051,3.197,0.127,2.9772,3.5388,0.04,6,2019,DEFAULT,16.6365
106772,106772,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,422,R$/l,4.928,0.165,4.599,5.859,0.538,0.033,4.39,0.097,4.2,4.618,0.022,6,2019,DEFAULT,22.1760
106799,106799,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,65.010,5.812,50.000,79.000,17.475,0.089,47.535,3.934,39,58.2,0.083,6,2019,DEFAULT,292.5450
106817,106817,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GNV,124,R$/m3,3.111,0.260,2.799,3.799,0.707,0.084,2.404,0.174,2.126,2.7909,0.072,6,2019,DEFAULT,13.9995

In [17]:
gasdf.query('ESTADO == "RIO DE JANEIRO" & PRODUTO == "GASOLINA COMUM"')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,nova coluna,PREÇO MÉDIO REVENDA DÓLAR
12086,12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,5,2004,DEFAULT,9.2025
12113,12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027,5,2004,DEFAULT,9.1800
12140,12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026,5,2004,DEFAULT,9.1890
12167,12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031,5,2004,DEFAULT,9.2385
12194,12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03,6,2004,DEFAULT,9.2835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106174,106174,2019-05-26,2019-06-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,418,R$/l,5.044,0.159,4.689,5.859,0.491,0.032,4.553,0.101,4.3503,5.024,0.022,5,2019,DEFAULT,22.6980
106323,106323,2019-06-02,2019-06-08,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,420,R$/l,4.968,0.155,4.579,5.859,0.469,0.031,4.499,0.109,4.148,5.091,0.024,6,2019,DEFAULT,22.3560
106473,106473,2019-06-09,2019-06-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,421,R$/l,4.962,0.154,4.579,5.859,0.519,0.031,4.443,0.108,4.148,4.72,0.024,6,2019,DEFAULT,22.3290
106623,106623,2019-06-16,2019-06-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,418,R$/l,4.927,0.160,4.599,5.859,0.544,0.032,4.383,0.1,4.1972,4.6239,0.023,6,2019,DEFAULT,22.1715
106772,106772,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,422,R$/l,4.928,0.165,4.599,5.859,0.538,0.033,4.39,0.097,4.2,4.618,0.022,6,2019,DEFAULT,22.1760

Para colunas que contém caracteres especiais (áãàéõó...), ao tentar chamar essas colunas, o pandas dá um erro devido à esses caracteres. Para resolvermos esse problema, basta mudar o nome da coluna para um mais adequado. faremos isso renomeando uma das coluna utilizando o código<br><span style='font-style: italic'>dataframe.rename(columns={'column_old_name ':'column_new_name'})</span>

In [34]:
gasdf.rename(columns={'PREÇO MÉDIO REVENDA':'PRECO_MEDIO_REVENDA'})

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,PREÇO MÉDIO REVENDA DÓLAR
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,5.7960
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,5.2290
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,6.2505
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,5.6790
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,5.3145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019,16.0830
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,15.3045
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019,13.1040
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,13.5900
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019,16.6365

para renomear várias colunas de uma vez, basta usar o método rename adicionando o value mapper que recebe um dicionário <br><span style='font-style: italic'>dataframe.rename(mapper={})</span>. Criaremos um novo dataframe que receberá o nome das colunas alterados e assim faremos o tratamento dos dados.

In [2]:
gasdfpre = gasdf.rename(mapper={'REGIÃO':'REGIAO', 'PREÇO MÉDIO REVENDA':'PRECO_MEDIO_REVENDA',
       'NÚMERO DE POSTOS PESQUISADOS':'NUMERO_DE_POSTOS_PESQUISADOS', 'DESVIO PADRÃO REVENDA':'DESVIO_PADRAO_REVENDA', 'PREÇO MÍNIMO REVENDA':'PRECO_MINIMO_REVENDA',
       'PREÇO MÁXIMO REVENDA':'PRECO_MAXIMO_REVENDA', 'MARGEM MÉDIA REVENDA':'MARGEM_MEDIA_REVENDA',
       'COEF DE VARIAÇÃO REVENDA':'COEF_DE_VARIACAO_REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO':'PRECO_MEDIO_DISTRIBUICAO',
       'DESVIO PADRÃO DISTRIBUIÇÃO':'DESVIO_PADRAO_DISTRIBUICAO', 'PREÇO MÍNIMO DISTRIBUIÇÃO':'PRECO_MINIMO_DISTRIBUICAO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO':'PRECO_MAXIMO_DISTRIBUICAO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO':'COEF_DE_VARIACAO_DISTRIBUICAO', 'MÊS':'MES', 'PREÇO MÉDIO REVENDA DÓLAR':'PRECO_MEDIO_REVENDA_DOLAR'}, axis=1)

In [31]:
gasdfpre.columns

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIAO', 'ESTADO',
       'PRODUTO', 'NUMERO_DE_POSTOS_PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PRECO_MEDIO_REVENDA', 'DESVIO_PADRAO_REVENDA', 'PRECO_MINIMO_REVENDA',
       'PRECO_MAXIMO_REVENDA', 'MARGEM_MEDIA_REVENDA',
       'COEF_DE_VARIACAO_REVENDA', 'PRECO_MEDIO_DISTRIBUICAO',
       'DESVIO_PADRAO_DISTRIBUICAO', 'PRECO_MINIMO_DISTRIBUICAO',
       'PRECO_MAXIMO_DISTRIBUICAO', 'COEF_DE_VARIACAO_DISTRIBUICAO', 'MES',
       'ANO'],
      dtype='object')

Veja que a coluna Preço Médio Revenda não foi alterada porque não usamos o valor inplace=True dentro do rename. Tanto essa coluna quanto as outras não foram alteradas pela falta desse valor. Iremos corrigir esse problema colocando apenas caracteres válidos. Adiantando a filtragem, vamos transfomar a coluna <span style='font-style: italic'>PRECO_MEDIO_REVENDA</span> de object para float64

In [3]:
gasdfpre['PREÇO_MEDIO_REVENDA'] = pd.to_numeric(gasdfpre['PRECO_MEDIO_REVENDA'], errors='coerce')

In [27]:
gasdfpre.dropna(axis=0, inplace=True)
gasdfpre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIAO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NUMERO_DE_POSTOS_PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PRECO_MEDIO_REVENDA            106823 non-null  float64
 9   DESVIO_PADRAO_REVENDA          106823 non-null  float64
 10  PRECO_MINIMO_REVENDA           106823 non-null  float64
 11  PRECO_MAXIMO_REVENDA           106823 non-null  float64
 12  MARGEM_MEDIA_REVENDA           106823 non-null  object
 13  COEF_DE_VARIACAO_REVENDA       106823 non-null  float64
 14  PRECO_MEDIO_DISTRIBUICAO       106823 non-null  object
 15  DESVIO_PADRAO_DISTRIBUICAO     106823 non-null  object
 16  PRECO_MINIMO_DISTRIBUICAO      106823 non-null  object
 17  PRECO_MAXIMO_DISTRIBUICAO      106823 non-null  object
 18  COEF_DE_VARIACAO_DISTRIBUICAO  106823 non-null  object
 19  MES                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
 21  PREÇO_MEDIO_REVENDA            106823 non-null  float64
dtypes: float64(6), int64(4), object(12)
memory usage: 17.9+ MB

In [60]:
gasdfpre.query('ESTADO == "RIO DE JANEIRO" & PRECO_MEDIO_REVENDA > 5')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,PRECO_MAXIMO_REVENDA,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PRECO_MEDIO_REVENDA_DOLAR,PREÇO_MEDIO_REVENDA
24154,24154,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GLP,385,R$/13Kg,29.154,1.426,25.00,33.9,4.564,0.049,24.59,1.322,22,29,0.054,5,2004,131.1930,29.154
24181,24181,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GLP,407,R$/13Kg,29.138,1.510,25.00,33.9,4.938,0.052,24.2,1.491,21,29,0.062,5,2004,131.1210,29.138
24208,24208,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GLP,409,R$/13Kg,28.997,1.445,25.00,35.0,4.473,0.050,24.524,1.417,20.5,28.11,0.058,5,2004,130.4865,28.997
24235,24235,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GLP,422,R$/13Kg,29.034,1.527,24.99,35.0,4.757,0.053,24.277,1.263,21,28,0.052,5,2004,130.6530,29.034
24262,24262,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GLP,405,R$/13Kg,29.108,1.502,25.00,35.0,4.707,0.052,24.401,1.262,21,28,0.052,6,2004,130.9860,29.108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106201,106201,2019-05-26,2019-06-01,SUDESTE,RIO DE JANEIRO,GLP,223,R$/13Kg,65.129,6.002,52.00,80.0,17.062,0.092,48.067,4.043,39,57.89,0.084,5,2019,293.0805,65.129
106350,106350,2019-06-02,2019-06-08,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,63.852,5.867,52.00,82.0,15.74,0.092,48.112,3.781,39,57.85,0.079,6,2019,287.3340,63.852
106500,106500,2019-06-09,2019-06-15,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,64.754,6.071,50.00,82.0,17,0.094,47.754,3.94,39,57.85,0.083,6,2019,291.3930,64.754
106650,106650,2019-06-16,2019-06-22,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,63.710,5.726,52.00,80.0,15.785,0.090,47.925,3.839,39,58.2,0.08,6,2019,286.6950,63.710
106799,106799,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,65.010,5.812,50.00,79.0,17.475,0.089,47.535,3.934,39,58.2,0.083,6,2019,292.5450,65.010

In [59]:
gasdfpre.query('ESTADO == "RIO DE JANEIRO" | PRECO_MEDIO_REVENDA > 5')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,PRECO_MAXIMO_REVENDA,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PRECO_MEDIO_REVENDA_DOLAR,PREÇO_MEDIO_REVENDA
22,22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22,5,2004,4.9410,1.098
49,49,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,0.740,1.499,0.284,0.144,0.808,0.175,0.3257,1.2921,0.217,5,2004,4.9140,1.092
76,76,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,0.770,1.589,0.281,0.127,0.822,0.166,0.38909,1.1859,0.202,5,2004,4.9635,1.103
103,103,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,955,R$/l,1.149,0.156,0.799,1.599,0.3,0.136,0.849,0.188,0.3453,1.3667,0.221,5,2004,5.1705,1.149
130,130,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,966,R$/l,1.165,0.154,0.830,1.599,0.254,0.132,0.911,0.198,0.4,1.3667,0.217,6,2004,5.2425,1.165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106804,106804,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GLP,100,R$/13Kg,69.977,5.119,55.000,85.000,18.275,0.073,51.702,3.339,45.8,61.5,0.065,6,2019,314.8965,69.977
106805,106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019,301.0185,66.893
106806,106806,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GLP,26,R$/13Kg,68.128,3.421,60.000,75.000,14.05,0.050,54.078,3.941,46.19,57.43,0.073,6,2019,306.5760,68.128
106807,106807,2019-06-23,2019-06-29,NORTE,TOCANTINS,GLP,88,R$/13Kg,80.316,4.509,70.000,90.000,23.266,0.056,57.05,6.906,49,70,0.121,6,2019,361.4220,80.316
106817,106817,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GNV,124,R$/m3,3.111,0.260,2.799,3.799,0.707,0.084,2.404,0.174,2.126,2.7909,0.072,6,2019,13.9995,3.111

<center><span style='font-weight: bold; font-size: 30px'>Limpeza de dados</span></center>
<br><br> Quando estamos estudando dados, devemos procurar por colunas que poderiam ser float64 ou int64 ao invés de object. Vamos acessar as informações das colunas digitando o comando <span style='font-style: italic'>dataframe.info()</span>. Podemos trocar o tipo de data type usando o comando pd.to_numeric(dataframe[column], error=) Onde o dataframe[column] pode ser o nome de uma coluna ou uma lista de nomes de colunas e o error é o que fazer quando pandas não consegue alterar o tipo de value da linha. Os tipos de erros são 'raise' - é selecionado por default e ele joga uma janela de erro; coerce - transforma o object em NaN; ignore - ignora a transformação do object.  No caso de colunas contendo datas, podemos transformar os objects em datetime usando o comando<br> <span style='font-style: italic'>pandas.to_datetime</span><br>

In [20]:
gasdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

In [19]:
gasdfpre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

In [4]:
clean_columns = ['MARGEM_MEDIA_REVENDA',
       'PRECO_MEDIO_DISTRIBUICAO',
       'DESVIO_PADRAO_DISTRIBUICAO', 'PRECO_MINIMO_DISTRIBUICAO',
       'PRECO_MAXIMO_DISTRIBUICAO', 'COEF_DE_VARIACAO_DISTRIBUICAO']
for column in clean_columns:
    gasdfpre[column] = pd.to_numeric(gasdfpre[column], errors = 'coerce')

In [5]:
datas = ['DATA INICIAL', 'DATA FINAL']
for coluna in datas:
    gasdfpre[coluna] = pd.to_datetime(gasdfpre[coluna], errors='coerce')
gasdfpre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  datetime64[ns]
 2   DATA FINAL                     106823 non-null  datetime64[ns]
 3   REGIAO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NUMERO_DE_POSTOS_PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PRECO_MEDIO_REVENDA            106823 non-null  float64
 9   DESVIO_PADRAO_REVENDA          106823 non-null  float64
 10  PRECO_MINIMO_REVENDA           106823 non-null  float64
 11  PRECO_MAXIMO_REVENDA           106823 non-null  float64
 12  MARGEM_MEDIA_REVENDA           103392 non-null  float64
 13  COEF_DE_VARIACAO_REVENDA       106823 non-null  float64
 14  PRECO_MEDIO_DISTRIBUICAO       103423 non-null  float64
 15  DESVIO_PADRAO_DISTRIBUICAO     103423 non-null  float64
 16  PRECO_MINIMO_DISTRIBUICAO      103423 non-null  float64
 17  PRECO_MAXIMO_DISTRIBUICAO      103423 non-null  float64
 18  COEF_DE_VARIACAO_DISTRIBUICAO  103423 non-null  float64
 19  MES                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
 21  PREÇO_MEDIO_REVENDA            106823 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(4)
memory usage: 17.9+ MB

Para alterar tabelas que contém apenas valores como mês, dia ou ano, usamos o método <span style='font-style: italic'> pd.to_numeric(DataFrame[column], format= '%d' \\para dias\\,  format='%m'  \\para mês, format='%Y' \\para ano  )</span> onde retorna uma Series composta por valores datetime64[ns]. Estes valores retornarão no formato "%YYY-%mm-%dd". Se quisermos alterar os meses no formato '1, 2, ..., 12' para 'janeiro, fevereiro,..., dezembro'
usamos o método <span style='font-style: italic'>\Series.dt.month_name(locale='location').</span> O parâmetro location recebe valores como <span style='font-style:italic'>'English'</span> para meses no formato 'january, february, march, april, may,..., december'ou <span style='font-style:italic'>'pt_BR'</span> para meses no formato 'janeiro, fevereiro, março, ..., dezembro'. Lembrando que esse método é usado dentro de uma Series do tipo datetime64[ns].

In [35]:
gasdfpre['MES'] = gasdf['MÊS']
gasdfpre['MES'] = pd.to_datetime(gasdfpre['MES'], errors='coerce', format="%m")

gasdfpre['MES'] = gasdfpre['MES'].dt.month_name(locale='pt_BR')
gasdfpre['MES']

0          Maio
1          Maio
2          Maio
3          Maio
4          Maio
          ...
106818    Junho
106819    Junho
106820    Junho
106821    Junho
106822    Junho
Name: MES, Length: 103392, dtype: object

In [38]:
gasdfpre['MES'] = gasdf['MÊS']
gasdfpre['MES'] = pd.to_datetime(gasdfpre['MES'], errors='coerce', format="%m")

gasdfpre['MES'] = gasdfpre['MES'].dt.month_name(locale='pt_BR')
gasdfpre['MES']

0          Maio
1          Maio
2          Maio
3          Maio
4          Maio
          ...
106818    Junho
106819    Junho
106820    Junho
106821    Junho
106822    Junho
Name: MES, Length: 103392, dtype: object

In [15]:
z #aqui mostramos a alteração do tipo '%YYYY-%mm-%dd' para 'Janeiro, Fevereiro, Março,..., Dezembro'

0          Maio
1          Maio
2          Maio
3          Maio
4          Maio
          ...
106818    Junho
106819    Junho
106820    Junho
106821    Junho
106822    Junho
Name: MES, Length: 106823, dtype: object

Depois de transformados, values gerados por erros agora tem valor **NaN**. Podemos excluir as linhas contendo valores **NaN** usando o método d <span style='font-style: italic'>dataframe.dropna(axis=0,subset='column' ,inplace=True)</span> ou podemos preencher esses valores usando o método <span style='font-style: italic'>dataframe.fillna(value, inplace=True)</span> <br> caso queiramos uma cópia do dataframe, basta atribuir uma variável para o método fillna. Para verificar se existe algum valor **NaN**, podemos usar o método <br><span style='font-style: italic'>dataframe.isnull().any()</span> .<br>
Para verificar as linhas contendo os valores 0, basta usar localizá-las através de<br><span style='font-style: italic'>dataframe[(dataframe == 0).any(axis=1)]</span> .<br> O que faremos é 'dropar' as linhas contendo **NaN**, por isso não utilizaremos inplace=True dentro dos fillna.

In [16]:
gasdfprefill = gasdfpre.fillna(0)
mask = gasdfprefill.isnull().any()
mask

Unnamed: 0                       False
DATA INICIAL                     False
DATA FINAL                       False
REGIAO                           False
ESTADO                           False
PRODUTO                          False
NUMERO_DE_POSTOS_PESQUISADOS     False
UNIDADE DE MEDIDA                False
PRECO_MEDIO_REVENDA              False
DESVIO_PADRAO_REVENDA            False
PRECO_MINIMO_REVENDA             False
PRECO_MAXIMO_REVENDA             False
MARGEM_MEDIA_REVENDA             False
COEF_DE_VARIACAO_REVENDA         False
PRECO_MEDIO_DISTRIBUICAO         False
DESVIO_PADRAO_DISTRIBUICAO       False
PRECO_MINIMO_DISTRIBUICAO        False
PRECO_MAXIMO_DISTRIBUICAO        False
COEF_DE_VARIACAO_DISTRIBUICAO    False
MES                              False
ANO                              False
PREÇO_MEDIO_REVENDA              False
dtype: bool

In [ ]:
gasdfprefill[(gasdfprefill == 0).any(axis=1)]

In [36]:
gasdfpre.dropna(axis=0, subset='MARGEM_MEDIA_REVENDA', inplace=True)
gasdfpre.shape

(103392, 22)

Agora que deletamos as linhas contendo valores **NaN**, devemos renoemar os index do dataframe

In [ ]:
gasdfpre.index = range(gasdfpre.shape[0])
gasdfpre

Iremos agora salvar esse novo dataframe em um novo arquivo.

gasdfpre.to_csv('c:gaz_price_in_brazil-preprocessado.csv')

In [24]:
gasdfpre.info()

<class 'pandas.core.series.Series'>
RangeIndex: 106823 entries, 0 to 106822
Series name: MARGEM MÉDIA REVENDA
Non-Null Count   Dtype
--------------   -----
103392 non-null  float64
dtypes: float64(1)
memory usage: 834.7 KB

<center><span style='font-weight: bold; font-size: 30px'>Aplicando funções</span></center>
<br><br> Podemos criar funções que são aplicadas em todos os valores de uma linha ou de uma coluna. Para fazer isso, definimos uma função qualquer e aplicamos ela dentro do método <span style='font-style: italic'>dataframe.apply(function, axis=) </span>. Se queremos aplicar a função em todas as linhas, usamos <span style='font-style: italic'>axis=1</span> e criamos uma nova coluna para o dataframe <br><center><span style='font-style: italic'>dataframe['new_column'] = dataframe.apply(function, axis=1)</span> </center> Se queremos somar os valores contidos em cada coluna, criamos uma nova linha que conterá o resultado utilizando o apply <br> 
<center> <span style='font-style: italic'>dataframe.loc['new_column'] = dataframe.apply(function, axis=0)</span> </center>

In [2]:
def soma(linha):
    return linha.sum()


test = {
'refrigerantes': [1, 2, 1, 3, 2],
'pipocas': [2, 3, 1, 2, 1],
'água mineral': [1, 0, 2, 0, 1],
'pizzas': [1, 0, 0, 2, 1],
'cachorros quentes':[1, 2, 1, 4, 1]
}
pessoas = [f'pessoa {i}'  for i in range(1,6)] 
tabela = pd.DataFrame(test, index=pessoas)

if 'Total linha' in tabela[:]:
    del tabela['Total linha']

tabela['Total linha'] = tabela.apply(soma, axis=1)
if 'resultado coluna' in tabela.index:
    tabela.drop('resultado coluna', axis=0, inplace=True)
tabela.loc['resultado coluna'] = tabela.apply(soma, axis=0)

tabela

,refrigerantes,pipocas,água mineral,pizzas,cachorros quentes,Total linha
pessoa 1,1,2,1,1,1,6
pessoa 2,2,3,0,0,2,7
pessoa 3,1,1,2,0,1,5
pessoa 4,3,2,0,2,4,11
pessoa 5,2,1,1,1,1,6
resultado coluna,9,9,4,4,9,35

In [3]:
tabela['media'] = tabela[['refrigerantes','pipocas','água mineral','pizzas','cachorros quentes']].apply(lambda x: x.mean(), axis=1)
tabela

,refrigerantes,pipocas,água mineral,pizzas,cachorros quentes,Total linha,media
pessoa 1,1,2,1,1,1,6,1.2
pessoa 2,2,3,0,0,2,7,1.4
pessoa 3,1,1,2,0,1,5,1.0
pessoa 4,3,2,0,2,4,11,2.2
pessoa 5,2,1,1,1,1,6,1.2
resultado coluna,9,9,4,4,9,35,7.0

A função map age parecido com o apply, mas ele lê somente uma series e não um eixo. Usamos o método map <span style='font-style: italic'>Series.map(function)</span>. Note também que a função não contém o parâmetro  <span style='font-style: italic'>inplace=True</span>. Para salvar a função, basta criar uma nova variável que salva essa aplicação.

In [5]:
tabela.columns.map(lambda x: x.upper())

Index(['REFRIGERANTES', 'PIPOCAS', 'ÁGUA MINERAL', 'PIZZAS',
       'CACHORROS QUENTES', 'TOTAL LINHA', 'MEDIA'],
      dtype='object')

In [6]:
tabela

,refrigerantes,pipocas,água mineral,pizzas,cachorros quentes,Total linha,media
pessoa 1,1,2,1,1,1,6,1.2
pessoa 2,2,3,0,0,2,7,1.4
pessoa 3,1,1,2,0,1,5,1.0
pessoa 4,3,2,0,2,4,11,2.2
pessoa 5,2,1,1,1,1,6,1.2
resultado coluna,9,9,4,4,9,35,7.0

Do mesmo modo, o applymap funciona criando um novo dataframe (diferente do map que cria uma Series). Usamos o método apply <span style='font-style: italic'>DataFrame.map(function)</span>

In [7]:
tabela.apply(lambda x: x**2)

,refrigerantes,pipocas,água mineral,pizzas,cachorros quentes,Total linha,media
pessoa 1,1,4,1,1,1,36,1.44
pessoa 2,4,9,0,0,4,49,1.96
pessoa 3,1,1,4,0,1,25,1.00
pessoa 4,9,4,0,4,16,121,4.84
pessoa 5,4,1,1,1,1,36,1.44
resultado coluna,81,81,16,16,81,1225,49.00

In [13]:
tabela[['refrigerantes ao quadrado', 'pipoca ao quadrado']] = tabela[['refrigerantes', 'pipocas']].apply(lambda x: x**2) 

tabela

,refrigerantes,pipocas,água mineral,pizzas,cachorros quentes,Total linha,media,refrigerantes ao quadrado,pipoca ao quadrado
pessoa 1,1,2,1,1,1,6,1.2,1,4
pessoa 2,2,3,0,0,2,7,1.4,4,9
pessoa 3,1,1,2,0,1,5,1.0,1,1
pessoa 4,3,2,0,2,4,11,2.2,9,4
pessoa 5,2,1,1,1,1,6,1.2,4,1
resultado coluna,9,9,4,4,9,35,7.0,81,81

<center><span style='font-weight: bold; font-size: 30px'>Agrupamentos</span></center>
<br><br> O agrupamento funciona usando um mapper ou uma Series de um DataFrame pegando um objeto, fatiando-o e aplicando uma função para depois agrupar o resultado da função em um novo DataFrame mas do tipo DataFrameGroupBy. Usamos o método <span style='font-style: italic'>DataFrame.groupby('column')</span> que retorna um objeto do tipo dicionário composto por chaves que serão colunas e atribuímos esse método a uma variável qualquer que aqui chamaremos de '<span style='font-style: italic'>group</span>'.   Para mostrar o agrupamento em dicionários, usamos o atributo <span style='font-style: italic'>group.groups</span>. <br>
Outro método para checar os índices, basta usar o atributo <span style='font-style: italic'>group.indices</span> <br>
Para analisar esses grupos em termos de tabela, basta usar o método <span style='font-style: italic'>group.get_group('unique_value')</span> onde esse unique value é um dos valores chaves do dicionário group.

In [102]:
regioes = gasdfpre.groupby('REGIAO')

regioes.groups

{'CENTRO OESTE': [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], 'NORDESTE': [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], 'NORTE': [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], 'SUDESTE': [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], 'SUL': [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...]}

In [48]:
regioes.indices

{'CENTRO OESTE': array([     0,      1,      2, ..., 103363, 103364, 103383], dtype=int64),
 'NORDESTE': array([     4,      5,      6, ..., 103385, 103387, 103391], dtype=int64),
 'NORTE': array([    13,     14,     15, ..., 103374, 103375, 103379], dtype=int64),
 'SUDESTE': array([    20,     21,     22, ..., 103377, 103386, 103390], dtype=int64),
 'SUL': array([    24,     25,     26, ..., 103376, 103388, 103389], dtype=int64)}

In [51]:
regioes.get_group('SUL')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,...,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PREÇO_MEDIO_REVENDA
24,24,2004-05-09,2004-05-15,SUL,PARANA,ETANOL HIDRATADO,760,R$/l,0.922,0.083,...,0.255,0.090,0.667,0.105,0.4357,0.9587,0.157,Maio,2004,0.922
25,25,2004-05-09,2004-05-15,SUL,RIO GRANDE DO SUL,ETANOL HIDRATADO,689,R$/l,1.224,0.143,...,0.332,0.117,0.892,0.090,0.6440,1.2727,0.101,Maio,2004,1.224
26,26,2004-05-09,2004-05-15,SUL,SANTA CATARINA,ETANOL HIDRATADO,506,R$/l,1.229,0.077,...,0.416,0.063,0.813,0.097,0.5700,1.2348,0.119,Maio,2004,1.229
51,51,2004-05-16,2004-05-22,SUL,PARANA,ETANOL HIDRATADO,769,R$/l,0.922,0.088,...,0.254,0.095,0.668,0.100,0.4337,0.9587,0.150,Maio,2004,0.922
52,52,2004-05-16,2004-05-22,SUL,RIO GRANDE DO SUL,ETANOL HIDRATADO,674,R$/l,1.220,0.142,...,0.324,0.116,0.896,0.088,0.6440,1.2378,0.098,Maio,2004,1.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106796,106796,2019-06-23,2019-06-29,SUL,PARANA,GLP,402,R$/13Kg,70.277,6.645,...,16.791,0.095,53.486,5.254,45.3100,69.0000,0.098,Junho,2019,70.277
106801,106801,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GLP,374,R$/13Kg,69.442,5.413,...,18.180,0.078,51.262,6.520,37.0280,68.0000,0.127,Junho,2019,69.442
106804,106804,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GLP,100,R$/13Kg,69.977,5.119,...,18.275,0.073,51.702,3.339,45.8000,61.5000,0.065,Junho,2019,69.977
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,0.950,0.038,2.451,0.402,1.9842,2.8661,0.164,Junho,2019,3.401
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,0.914,0.065,1.998,0.000,1.9981,1.9981,0.000,Junho,2019,2.912

Esses grupos criados podem ser vistos em termos de estatísticas descritivas usando o método <span style='font-style: italic'>DataFrame.groupby('column').describe()</span>.
<br><br>Além do describe(), se quisermos ver isoladamente alguma (ou algumas) das medidas estatísticas, podemos usar os seguintes métodos <span style='font-style: italic'>.mean(), .min(), .max(), .std()</span>. <br>
Caso o group contenha colunas com valores que não são numéricos, podemos criar uma lista que contenha as colunas que possuem apenas valores numéricos e usamos ela dentro do group através de lista usando o comando <span style='font-style: italic'>group[lista]</span>

In [107]:
regioes.describe()

             DATA INICIAL                                                      \
                    count                           mean                  min
REGIAO
CENTRO OESTE        14545  2012-04-08 13:21:07.982124288  2004-05-09 00:00:00
NORDESTE            35788  2012-03-14 10:57:28.306694656  2004-05-09 00:00:00
NORTE               24000            2012-04-22 18:54:00  2004-05-09 00:00:00
SUDESTE             16744  2012-03-15 12:41:32.307692288  2004-05-09 00:00:00
SUL                 12315  2012-03-05 18:32:56.711327744  2004-05-09 00:00:00

                                                                             \
                              25%                  50%                  75%
REGIAO
CENTRO OESTE  2008-06-08 00:00:00  2012-07-22 00:00:00  2016-02-14 00:00:00
NORDESTE      2008-05-18 00:00:00  2012-06-03 00:00:00  2016-01-24 00:00:00
NORTE         2008-06-15 00:00:00  2012-09-12 12:00:00  2016-02-14 00:00:00
SUDESTE       2008-05-25 00:00:00  2012-06-24 00:00:00  2016-01-03 00:00:00
SUL           2008-05-04 00:00:00  2012-06-10 00:00:00  2015-12-27 00:00:00

                                       DATA FINAL  \
                              max  std      count
REGIAO
CENTRO OESTE  2019-06-23 00:00:00  NaN      14545
NORDESTE      2019-06-23 00:00:00  NaN      35788
NORTE         2019-06-23 00:00:00  NaN      24000
SUDESTE       2019-06-23 00:00:00  NaN      16744
SUL           2019-06-23 00:00:00  NaN      12315

                                             ...     ANO            \
                                       mean  ...     max       std
REGIAO                                       ...
CENTRO OESTE  2012-04-14 13:21:07.982124288  ...  2019.0  4.409036
NORDESTE      2012-03-20 10:57:28.306694912  ...  2019.0  4.418046
NORTE                   2012-04-28 18:54:00  ...  2019.0  4.410914
SUDESTE       2012-03-21 12:41:32.307692288  ...  2019.0  4.395436
SUL           2012-03-11 18:32:56.711327744  ...  2019.0  4.408312

             PREÇO_MEDIO_REVENDA                                           \
                           count       mean    min    25%     50%     75%
REGIAO
CENTRO OESTE             14545.0  12.299706  1.097  2.114  2.8110  3.8610
NORDESTE                 35788.0   9.558746  0.975  1.981  2.6240  3.5800
NORTE                    24000.0  12.633086  1.226  2.382  2.9970  4.2310
SUDESTE                  16744.0   9.828218  0.766  1.877  2.5535  3.5725
SUL                      12315.0  10.254388  0.922  1.990  2.5970  3.5530


                 max        std
REGIAO
CENTRO OESTE  99.357  19.950773
NORDESTE      79.630  15.988848
NORTE         87.270  19.637852
SUDESTE       79.192  16.284947
SUL           72.088  16.903877

[5 rows x 128 columns]

In [114]:
regioes.get_group('NORTE').max()

DATA INICIAL                     2019-06-23 00:00:00
DATA FINAL                       2019-06-29 00:00:00
REGIAO                                         NORTE
ESTADO                                     TOCANTINS
PRODUTO                              ÓLEO DIESEL S10
NUMERO_DE_POSTOS_PESQUISADOS                     383
UNIDADE DE MEDIDA                              R$/m3
PRECO_MEDIO_REVENDA                            87.27
DESVIO_PADRAO_REVENDA                         10.675
PRECO_MINIMO_REVENDA                            85.0
PRECO_MAXIMO_REVENDA                           110.0
MARGEM_MEDIA_REVENDA                          27.989
COEF_DE_VARIACAO_REVENDA                       0.168
PRECO_MEDIO_DISTRIBUICAO                      72.428
DESVIO_PADRAO_DISTRIBUICAO                    12.428
PRECO_MINIMO_DISTRIBUICAO                      72.39
PRECO_MAXIMO_DISTRIBUICAO                       88.0
COEF_DE_VARIACAO_DISTRIBUICAO                  0.368
MES                                         Setembro
ANO                                             2019
PREÇO_MEDIO_REVENDA                            87.27
dtype: object

In [115]:
numeric_values = ['DATA INICIAL', 'DATA FINAL',
       'PRECO_MEDIO_REVENDA', 'DESVIO_PADRAO_REVENDA', 'PRECO_MINIMO_REVENDA',
       'PRECO_MAXIMO_REVENDA', 'MARGEM_MEDIA_REVENDA',
       'COEF_DE_VARIACAO_REVENDA', 'PRECO_MEDIO_DISTRIBUICAO',
       'DESVIO_PADRAO_DISTRIBUICAO', 'PRECO_MINIMO_DISTRIBUICAO',
       'PRECO_MAXIMO_DISTRIBUICAO', 'COEF_DE_VARIACAO_DISTRIBUICAO', 'PREÇO_MEDIO_REVENDA']
regioes[numeric_values].mean()

,DATA INICIAL,DATA FINAL,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,PRECO_MAXIMO_REVENDA,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,PREÇO_MEDIO_REVENDA
REGIAO,,,,,,,,,,,,,,
CENTRO OESTE,2012-04-08 13:21:07.982124288,2012-04-14 13:21:07.982124288,12.299706,0.695078,10.610077,13.993156,2.438077,0.042077,9.861629,0.692259,8.511186,11.130478,0.039288,12.299706
NORDESTE,2012-03-14 10:57:28.306694912,2012-03-20 10:57:28.306694912,9.558746,0.552230,8.375173,10.788018,2.069198,0.041247,7.489549,0.514093,6.563284,8.461956,0.047887,9.558746
NORTE,2012-04-22 18:54:00.000000000,2012-04-28 18:54:00.000000000,12.633086,0.718957,11.410176,14.448137,2.221746,0.047480,10.411340,0.442566,9.505328,11.314534,0.034485,12.633086
SUDESTE,2012-03-15 12:41:32.307692288,2012-03-21 12:41:32.307692288,9.828218,0.678608,7.966396,11.894671,2.335709,0.055126,7.492509,0.585445,6.000720,9.330476,0.060778,9.828218
SUL,2012-03-05 18:32:56.711327488,2012-03-11 18:32:56.711327488,10.254388,0.729338,8.434376,12.391134,2.283191,0.047045,7.971197,0.726774,6.443075,9.851008,0.056162,10.254388

Os grupos criados por groupby podem ser formados usando duas ou mais colunas de seleção. Para isso, criamos umas lista contendo as colunas das quais queremos criar um grupo levando em consideração a sua posição na lista. Note que o resultado é um DataFrameGroupBy com chaves que são tuplas. Para acessar tabelas através do get_group(), devemos fornecer uma tupla contenado os valores categórigos ordenadamente de todas as colunas que foram usadas para criar o groupby.

In [118]:
regiao_produto = gasdfpre.groupby(['REGIAO', 'PRODUTO'])
regiao_produto.groups

{('CENTRO OESTE', 'ETANOL HIDRATADO'): [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], ('CENTRO OESTE', 'GASOLINA COMUM'): [12064, 12065, 12066, 12067, 12091, 12092, 12093, 12094, 12118, 12119, 12120, 12121, 12145, 12146, 12147, 12148, 12172, 12173, 12174, 12175, 12199, 12200, 12201, 12202, 12226, 12227, 12228, 12229, 12253, 12254, 12255, 12256, 12280, 12281, 12282, 12283, 12307, 12308, 12309, 12310, 12334, 12335, 12336, 12337, 12361, 12362, 12363, 12364, 12388, 12389, 12390, 12391, 12415, 12416, 12417, 12418, 12442, 12443, 12444, 12445, 12469, 12470, 12471, 12472, 12496, 12497, 12498, 12499, 12523, 12524, 12525, 12526, 12550, 12551, 12552, 12553, 12577, 12578, 12579, 12580, 12604, 12605, 12606, 12607, 12631, 12632, 12633, 12634, 12658, 12659, 12660, 12661, 12685, 12686, 12687, 12688, 12712, 12713, 12714, 12715, ...], ('CENTRO OESTE', 'GLP'): [24132, 24133, 24134, 24135, 24159, 24160, 24161, 24162, 24186, 24187, 24188, 24189, 24213, 24214, 24215, 24216, 24240, 24241, 24242, 24243, 24267, 24268, 24269, 24270, 24294, 24295, 24296, 24297, 24321, 24322, 24323, 24324, 24348, 24349, 24350, 24351, 24375, 24376, 24377, 24378, 24402, 24403, 24404, 24405, 24429, 24430, 24431, 24432, 24456, 24457, 24458, 24459, 24483, 24484, 24485, 24486, 24510, 24511, 24512, 24513, 24537, 24538, 24539, 24540, 24564, 24565, 24566, 24567, 24591, 24592, 24593, 24594, 24618, 24619, 24620, 24621, 24645, 24646, 24647, 24648, 24672, 24673, 24674, 24675, 24699, 24700, 24701, 24702, 24726, 24727, 24728, 24729, 24753, 24754, 24755, 24756, 24780, 24781, 24782, 24783, ...], ('CENTRO OESTE', 'GNV'): [36196, 36211, 36226, 36241, 36256, 36271, 36286, 36301, 36316, 36331, 36346, 36361, 36377, 36393, 36409, 36425, 36441, 36457, 36473, 36489, 36505, 36521, 36537, 36553, 36569, 36585, 36601, 36617, 36633, 36649, 36665, 36681, 36697, 36713, 36729, 36745, 36761, 36777, 36793, 36809, 36825, 36841, 36857, 36873, 36889, 36905, 36921, 36937, 36953, 36969, 36985, 37001, 37017, 37033, 37049, 37065, 37081, 37097, 37113, 37129, 37145, 37161, 37177, 37193, 37209, 37225, 37242, 37274, 37290, 37307, 37322, 37353, 37368, 37383, 37399, 37415, 37430, 37446, 37462, 37478, 37494, 37510, 37526, 37542, 37558, 37574, 37590, 37606, 37621, 37637, 37653, 37669, 37686, 37702, 37718, 37734, 37750, 37766, 37782, 37798, ...], ('CENTRO OESTE', 'ÓLEO DIESEL'): [43547, 43548, 43549, 43550, 43574, 43575, 43576, 43577, 43601, 43602, 43603, 43604, 43628, 43629, 43630, 43631, 43655, 43656, 43657, 43658, 43682, 43683, 43684, 43685, 43709, 43710, 43711, 43712, 43736, 43737, 43738, 43739, 43763, 43764, 43765, 43766, 43790, 43791, 43792, 43793, 43817, 43818, 43819, 43820, 43844, 43845, 43846, 43847, 43871, 43872, 43873, 43874, 43898, 43899, 43900, 43901, 43925, 43926, 43927, 43928, 43952, 43953, 43954, 43955, 43979, 43980, 43981, 43982, 44006, 44007, 44008, 44009, 44033, 44034, 44035, 44036, 44060, 44061, 44062, 44063, 44087, 44088, 44089, 44090, 44114, 44115, 44116, 44117, 44141, 44142, 44143, 44144, 44168, 44169, 44170, 44171, 44195, 44196, 44197, 44198, ...], ('CENTRO OESTE', 'ÓLEO DIESEL S10'): [55821, 55822, 55969, 55971, 55972, 56121, 56123, 56124, 56272, 56274, 56276, 56277, 56427, 56429, 56430, 56579, 56581, 56582, 56731, 56733, 56734, 56884, 56886, 56887, 57037, 57039, 57040, 57189, 57191, 57192, 57341, 57343, 57344, 57492, 57494, 57495, 57644, 57646, 57647, 57797, 57799, 57800, 57947, 57949, 57951, 57952, 58099, 58101, 58103, 58104, 58251, 58253, 58255, 58256, 58402, 58404, 58406, 58407, 58554, 58556, 58558, 58559, 58706, 58708, 58710, 58711, 58858, 58860, 58862, 58863, 59011, 59013, 59015, 59016, 59165, 59167, 59168, 59317, 59319, 59320, 59470, 59472, 59473, 59622, 59624, 59625, 59775, 59777, 59778, 59927, 59929, 59930, 60080, 60082, 60083, 60233, 60235, 60236, 60385, 60387, ...], ('NORDESTE', 'ETANOL HIDRATADO'): [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], ('NORDESTE', 'GASOLINA COMUM'): [12068, 12069, 12070, 12071, 12072, 12073, 12074, 12075, 12076, 12095, 12096, 12097, 12098, 12099, 12100, 12101, 12102, 12103, 12122, 12123, 12124, 12125, 12126, 12127, 12128, 12129, 12130, 12149, 12150, 12151, 12152, 12153, 12154, 12155, 12156, 12157, 12176, 12177, 12178, 12179, 12180, 12181, 12182, 12183, 12184, 12203, 12204, 12205, 12206, 12207, 12208, 12209, 12210, 12211, 12230, 12231, 12232, 12233, 12234, 12235, 12236, 12237, 12238, 12257, 12258, 12259, 12260, 12261, 12262, 12263, 12264, 12265, 12284, 12285, 12286, 12287, 12288, 12289, 12290, 12291, 12292, 12311, 12312, 12313, 12314, 12315, 12316, 12317, 12318, 12319, 12338, 12339, 12340, 12341, 12342, 12343, 12344, 12345, 12346, 12365, ...], ('NORDESTE', 'GLP'): [24136, 24137, 24138, 24139, 24140, 24141, 24142, 24143, 24144, 24163, 24164, 24165, 24166, 24167, 24168, 24169, 24170, 24171, 24190, 24191, 24192, 24193, 24194, 24195, 24196, 24197, 24198, 24217, 24218, 24219, 24220, 24221, 24222, 24223, 24224, 24225, 24244, 24245, 24246, 24247, 24248, 24249, 24250, 24251, 24252, 24271, 24272, 24273, 24274, 24275, 24276, 24277, 24278, 24279, 24298, 24299, 24300, 24301, 24302, 24303, 24304, 24305, 24306, 24325, 24326, 24327, 24328, 24329, 24330, 24331, 24332, 24333, 24352, 24353, 24354, 24355, 24356, 24357, 24358, 24359, 24360, 24379, 24380, 24381, 24382, 24383, 24384, 24385, 24386, 24387, 24406, 24407, 24408, 24409, 24410, 24411, 24412, 24413, 24414, 24433, ...], ('NORDESTE', 'GNV'): [36197, 36198, 36199, 36200, 36201, 36202, 36203, 36212, 36213, 36214, 36215, 36216, 36217, 36218, 36227, 36228, 36229, 36230, 36231, 36232, 36233, 36242, 36243, 36244, 36245, 36246, 36247, 36248, 36257, 36258, 36259, 36260, 36261, 36262, 36263, 36272, 36273, 36274, 36275, 36276, 36277, 36278, 36287, 36288, 36289, 36290, 36291, 36292, 36293, 36302, 36303, 36304, 36305, 36306, 36307, 36308, 36317, 36318, 36319, 36320, 36321, 36322, 36323, 36332, 36333, 36334, 36335, 36336, 36337, 36338, 36347, 36348, 36349, 36350, 36351, 36352, 36353, 36362, 36363, 36364, 36365, 36366, 36368, 36369, 36378, 36379, 36380, 36381, 36382, 36384, 36385, 36394, 36395, 36396, 36397, 36398, 36400, 36401, 36410, 36411, ...], ('NORDESTE', 'ÓLEO DIESEL'): [43551, 43552, 43553, 43554, 43555, 43556, 43557, 43558, 43559, 43578, 43579, 43580, 43581, 43582, 43583, 43584, 43585, 43586, 43605, 43606, 43607, 43608, 43609, 43610, 43611, 43612, 43613, 43632, 43633, 43634, 43635, 43636, 43637, 43638, 43639, 43640, 43659, 43660, 43661, 43662, 43663, 43664, 43665, 43666, 43667, 43686, 43687, 43688, 43689, 43690, 43691, 43692, 43693, 43694, 43713, 43714, 43715, 43716, 43717, 43718, 43719, 43720, 43721, 43740, 43741, 43742, 43743, 43744, 43745, 43746, 43747, 43748, 43767, 43768, 43769, 43770, 43771, 43772, 43773, 43774, 43775, 43794, 43795, 43796, 43797, 43798, 43799, 43800, 43801, 43802, 43821, 43822, 43823, 43824, 43825, 43826, 43827, 43828, 43829, 43848, ...], ('NORDESTE', 'ÓLEO DIESEL S10'): [55669, 55670, 55677, 55679, 55814, 55816, 55817, 55820, 55827, 55828, 55830, 55835, 55962, 55965, 55966, 55970, 55975, 55977, 55978, 55980, 55986, 56114, 56117, 56118, 56122, 56127, 56129, 56130, 56132, 56138, 56267, 56270, 56271, 56275, 56280, 56282, 56283, 56285, 56291, 56420, 56423, 56424, 56428, 56433, 56435, 56436, 56438, 56444, 56572, 56575, 56576, 56580, 56585, 56587, 56588, 56590, 56596, 56724, 56727, 56728, 56732, 56737, 56739, 56740, 56742, 56748, 56877, 56880, 56881, 56885, 56890, 56892, 56893, 56895, 56901, 57030, 57033, 57034, 57038, 57043, 57045, 57046, 57048, 57054, 57182, 57185, 57186, 57190, 57195, 57197, 57198, 57200, 57206, 57334, 57337, 57338, 57342, 57347, 57349, 57350, ...], ('NORTE', 'ETANOL HIDRATADO'): [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], ('NORTE', 'GASOLINA COMUM'): [12077, 12078, 12079, 12080, 12081, 12082, 12083, 12104, 12105, 12106, 12107, 12108, 12109, 12110, 12131, 12132, 12133, 12134, 12135, 12136, 12137, 12158, 12159, 12160, 12161, 12162, 12163, 12164, 12185, 12186, 12187, 12188, 12189, 12190, 12191, 12212, 12213, 12214, 12215, 12216, 12217, 12218, 12239, 12240, 12241, 12242, 12243, 12244, 12245, 12266, 12267, 12268, 12269, 12270, 12271, 12272, 12293, 12294, 12295, 12296, 12297, 12298, 12299, 12320, 12321, 12322, 12323, 12324, 12325, 12326, 12347, 12348, 12349, 12350, 12351, 12352, 12353, 12374, 12375, 12376, 12377, 12378, 12379, 12380, 12401, 12402, 12403, 12404, 12405, 12406, 12407, 12428, 12429, 12430, 12431, 12432, 12433, 12434, 12455, 12456, ...], ('NORTE', 'GLP'): [24145, 24146, 24147, 24148, 24149, 24150, 24151, 24172, 24173, 24174, 24175, 24176, 24177, 24178, 24199, 24200, 24201, 24202, 24203, 24204, 24205, 24226, 24227, 24228, 24229, 24230, 24231, 24232, 24253, 24254, 24255, 24256, 24257, 24258, 24259, 24280, 24281, 24282, 24283, 24284, 24285, 24286, 24307, 24308, 24309, 24310, 24311, 24312, 24313, 24334, 24335, 24336, 24337, 24338, 24339, 24340, 24361, 24362, 24363, 24364, 24365, 24366, 24367, 24388, 24389, 24390, 24391, 24392, 24393, 24394, 24415, 24416, 24417, 24418, 24419, 24420, 24421, 24442, 24443, 24444, 24445, 24446, 24447, 24448, 24469, 24470, 24471, 24472, 24473, 24474, 24475, 24496, 24497, 24498, 24499, 24500, 24501, 24502, 24523, 24524, ...], ('NORTE', 'GNV'): [37299, 37391, 37407, 37438, 37454, 37470, 37486, 37502, 37518, 37534, 37550, 37566, 37582, 37598, 37629, 37645, 37661, 37678, 37694, 37710, 37726, 37742, 37758, 37774, 37790, 37806, 37822, 37838, 37854, 37870, 37887, 37904, 37921, 37938, 37955, 37972, 37989, 38006, 38023, 38040, 38057, 38074, 38091, 38123, 38140, 38156, 38173, 38190, 38207, 38224, 38241, 38258, 38275, 38292, 38309, 38326, 38342, 38359, 38376, 38392, 38409, 38426, 38443, 38460, 38477, 38510, 38559, 38592, 38609, 38626, 38643, 38660, 38693, 38710, 38727, 38760, 38793, 38826, 38859, 39502, 39534, 39551, 40039, 40121, 40138, 40783, 41188, 41256, 41292, 41325, 42178, 42993, 43096, 43231, 43264, 43282, 43316, 43334, 43367, 43450, ...], ('NORTE', 'ÓLEO DIESEL'): [43560, 43561, 43562, 43563, 43564, 43565, 43566, 43587, 43588, 43589, 43590, 43591, 43592, 43593, 43614, 43615, 43616, 43617, 43618, 43619, 43620, 43641, 43642, 43643, 43644, 43645, 43646, 43647, 43668, 43669, 43670, 43671, 43672, 43673, 43674, 43695, 43696, 43697, 43698, 43699, 43700, 43701, 43722, 43723, 43724, 43725, 43726, 43727, 43728, 43749, 43750, 43751, 43752, 43753, 43754, 43755, 43776, 43777, 43778, 43779, 43780, 43781, 43782, 43803, 43804, 43805, 43806, 43807, 43808, 43809, 43830, 43831, 43832, 43833, 43834, 43835, 43836, 43857, 43858, 43859, 43860, 43861, 43862, 43863, 43884, 43885, 43886, 43887, 43888, 43889, 43890, 43911, 43912, 43913, 43914, 43915, 43916, 43917, 43938, 43939, ...], ('NORTE', 'ÓLEO DIESEL S10'): [55676, 55682, 55815, 55824, 55832, 55964, 55974, 55983, 56113, 56116, 56126, 56135, 56269, 56279, 56288, 56419, 56422, 56432, 56441, 56445, 56571, 56574, 56584, 56593, 56597, 56723, 56726, 56736, 56745, 56749, 56876, 56879, 56889, 56897, 56898, 56902, 57029, 57032, 57042, 57050, 57051, 57055, 57181, 57183, 57184, 57194, 57202, 57203, 57207, 57333, 57335, 57336, 57346, 57354, 57355, 57359, 57484, 57486, 57487, 57497, 57505, 57506, 57510, 57636, 57638, 57639, 57649, 57657, 57658, 57662, 57789, 57791, 57792, 57802, 57810, 57811, 57815, 57941, 57943, 57944, 57954, 57962, 57963, 57967, 58093, 58095, 58096, 58106, 58114, 58115, 58119, 58245, 58247, 58248, 58258, 58266, 58267, 58271, 58396, 58398, ...], ('SUDESTE', 'ETANOL HIDRATADO'): [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], ('SUDESTE', 'GASOLINA COMUM'): [12084, 12085, 12086, 12087, 12111, 12112, 12113, 12114, 12138, 12139, 12140, 12141, 12165, 12166, 12167, 12168, 12192, 12193, 12194, 12195, 12219, 12220, 12221, 12222, 12246, 12247, 12248, 12249, 12273, 12274, 12275, 12276, 12300, 12301, 12302, 12303, 12327, 12328, 12329, 12330, 12354, 12355, 12356, 12357, 12381, 12382, 12383, 12384, 12408, 12409, 12410, 12411, 12435, 12436, 12437, 12438, 12462, 12463, 12464, 12465, 12489, 12490, 12491, 12492, 12516, 12517, 12518, 12519, 12543, 12544, 12545, 12546, 12570, 12571, 12572, 12573, 12597, 12598, 12599, 12600, 12624, 12625, 12626, 12627, 12651, 12652, 12653, 12654, 12678, 12679, 12680, 12681, 12705, 12706, 12707, 12708, 12732, 12733, 12734, 12735, ...], ('SUDESTE', 'GLP'): [24152, 24153, 24154, 24155, 24179, 24180, 24181, 24182, 24206, 24207, 24208, 24209, 24233, 24234, 24235, 24236, 24260, 24261, 24262, 24263, 24287, 24288, 24289, 24290, 24314, 24315, 24316, 24317, 24341, 24342, 24343, 24344, 24368, 24369, 24370, 24371, 24395, 24396, 24397, 24398, 24422, 24423, 24424, 24425, 24449, 24450, 24451, 24452, 24476, 24477, 24478, 24479, 24503, 24504, 24505, 24506, 24530, 24531, 24532, 24533, 24557, 24558, 24559, 24560, 24584, 24585, 24586, 24587, 24611, 24612, 24613, 24614, 24638, 24639, 24640, 24641, 24665, 24666, 24667, 24668, 24692, 24693, 24694, 24695, 24719, 24720, 24721, 24722, 24746, 24747, 24748, 24749, 24773, 24774, 24775, 24776, 24800, 24801, 24802, 24803, ...], ('SUDESTE', 'GNV'): [36204, 36205, 36206, 36207, 36219, 36220, 36221, 36222, 36234, 36235, 36236, 36237, 36249, 36250, 36251, 36252, 36264, 36265, 36266, 36267, 36279, 36280, 36281, 36282, 36294, 36295, 36296, 36297, 36309, 36310, 36311, 36312, 36324, 36325, 36326, 36327, 36339, 36340, 36341, 36342, 36354, 36355, 36356, 36357, 36370, 36371, 36372, 36373, 36386, 36387, 36388, 36389, 36402, 36403, 36404, 36405, 36418, 36419, 36420, 36421, 36434, 36435, 36436, 36437, 36450, 36451, 36452, 36453, 36466, 36467, 36468, 36469, 36482, 36483, 36484, 36485, 36498, 36499, 36500, 36501, 36514, 36515, 36516, 36517, 36530, 36531, 36532, 36533, 36546, 36547, 36548, 36549, 36562, 36563, 36564, 36565, 36578, 36579, 36580, 36581, ...], ('SUDESTE', 'ÓLEO DIESEL'): [43567, 43568, 43569, 43570, 43594, 43595, 43596, 43597, 43621, 43622, 43623, 43624, 43648, 43649, 43650, 43651, 43675, 43676, 43677, 43678, 43702, 43703, 43704, 43705, 43729, 43730, 43731, 43732, 43756, 43757, 43758, 43759, 43783, 43784, 43785, 43786, 43810, 43811, 43812, 43813, 43837, 43838, 43839, 43840, 43864, 43865, 43866, 43867, 43891, 43892, 43893, 43894, 43918, 43919, 43920, 43921, 43945, 43946, 43947, 43948, 43972, 43973, 43974, 43975, 43999, 44000, 44001, 44002, 44026, 44027, 44028, 44029, 44053, 44054, 44055, 44056, 44080, 44081, 44082, 44083, 44107, 44108, 44109, 44110, 44134, 44135, 44136, 44137, 44161, 44162, 44163, 44164, 44188, 44189, 44190, 44191, 44215, 44216, 44217, 44218, ...], ('SUDESTE', 'ÓLEO DIESEL S10'): [55675, 55684, 55823, 55829, 55834, 55968, 55973, 55979, 55985, 56120, 56125, 56131, 56137, 56273, 56278, 56284, 56290, 56426, 56431, 56437, 56443, 56578, 56583, 56589, 56595, 56730, 56735, 56741, 56747, 56883, 56888, 56894, 56900, 57036, 57041, 57047, 57053, 57188, 57193, 57199, 57205, 57340, 57345, 57351, 57357, 57491, 57496, 57502, 57508, 57643, 57648, 57654, 57660, 57796, 57801, 57807, 57813, 57948, 57953, 57959, 57965, 58100, 58105, 58111, 58117, 58252, 58257, 58263, 58269, 58403, 58408, 58414, 58420, 58555, 58560, 58566, 58572, 58707, 58712, 58718, 58724, 58859, 58864, 58870, 58876, 59012, 59017, 59023, 59029, 59164, 59169, 59175, 59181, 59316, 59321, 59327, 59333, 59469, 59474, 59480, ...], ('SUL', 'ETANOL HIDRATADO'): [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...], ('SUL', 'GASOLINA COMUM'): [12088, 12089, 12090, 12115, 12116, 12117, 12142, 12143, 12144, 12169, 12170, 12171, 12196, 12197, 12198, 12223, 12224, 12225, 12250, 12251, 12252, 12277, 12278, 12279, 12304, 12305, 12306, 12331, 12332, 12333, 12358, 12359, 12360, 12385, 12386, 12387, 12412, 12413, 12414, 12439, 12440, 12441, 12466, 12467, 12468, 12493, 12494, 12495, 12520, 12521, 12522, 12547, 12548, 12549, 12574, 12575, 12576, 12601, 12602, 12603, 12628, 12629, 12630, 12655, 12656, 12657, 12682, 12683, 12684, 12709, 12710, 12711, 12736, 12737, 12738, 12763, 12764, 12765, 12790, 12791, 12792, 12817, 12818, 12819, 12844, 12845, 12846, 12871, 12872, 12873, 12898, 12899, 12900, 12925, 12926, 12927, 12952, 12953, 12954, 12979, ...], ('SUL', 'GLP'): [24156, 24157, 24158, 24183, 24184, 24185, 24210, 24211, 24212, 24237, 24238, 24239, 24264, 24265, 24266, 24291, 24292, 24293, 24318, 24319, 24320, 24345, 24346, 24347, 24372, 24373, 24374, 24399, 24400, 24401, 24426, 24427, 24428, 24453, 24454, 24455, 24480, 24481, 24482, 24507, 24508, 24509, 24534, 24535, 24536, 24561, 24562, 24563, 24588, 24589, 24590, 24615, 24616, 24617, 24642, 24643, 24644, 24669, 24670, 24671, 24696, 24697, 24698, 24723, 24724, 24725, 24750, 24751, 24752, 24777, 24778, 24779, 24804, 24805, 24806, 24831, 24832, 24833, 24858, 24859, 24860, 24885, 24886, 24887, 24912, 24913, 24914, 24939, 24940, 24941, 24966, 24967, 24968, 24993, 24994, 24995, 25020, 25021, 25022, 25047, ...], ('SUL', 'GNV'): [36208, 36209, 36210, 36223, 36224, 36225, 36238, 36239, 36240, 36253, 36254, 36255, 36268, 36269, 36270, 36283, 36284, 36285, 36298, 36299, 36300, 36313, 36314, 36315, 36328, 36329, 36330, 36343, 36344, 36345, 36358, 36359, 36360, 36374, 36375, 36376, 36390, 36391, 36392, 36406, 36407, 36408, 36422, 36423, 36424, 36438, 36439, 36440, 36454, 36455, 36456, 36470, 36471, 36472, 36486, 36487, 36488, 36502, 36503, 36504, 36518, 36519, 36520, 36534, 36535, 36536, 36550, 36551, 36552, 36566, 36567, 36568, 36582, 36583, 36584, 36598, 36599, 36600, 36614, 36615, 36616, 36630, 36631, 36632, 36646, 36647, 36648, 36662, 36663, 36664, 36678, 36679, 36680, 36694, 36695, 36696, 36710, 36711, 36712, 36726, ...], ('SUL', 'ÓLEO DIESEL'): [43571, 43572, 43573, 43598, 43599, 43600, 43625, 43626, 43627, 43652, 43653, 43654, 43679, 43680, 43681, 43706, 43707, 43708, 43733, 43734, 43735, 43760, 43761, 43762, 43787, 43788, 43789, 43814, 43815, 43816, 43841, 43842, 43843, 43868, 43869, 43870, 43895, 43896, 43897, 43922, 43923, 43924, 43949, 43950, 43951, 43976, 43977, 43978, 44003, 44004, 44005, 44030, 44031, 44032, 44057, 44058, 44059, 44084, 44085, 44086, 44111, 44112, 44113, 44138, 44139, 44140, 44165, 44166, 44167, 44192, 44193, 44194, 44219, 44220, 44

In [160]:
regiao_produto.get_group(('CENTRO OESTE', 'ETANOL HIDRATADO'))

,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,...,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PREÇO_MEDIO_REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,Maio,2004,1.288
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,Maio,2004,1.162
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,Maio,2004,1.389
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,Maio,2004,1.262
27,2004-05-16,2004-05-22,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.271,0.039,1.060,...,0.448,0.031,0.823,0.111,0.4094,1.19310,0.135,Maio,2004,1.271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106535,2019-06-16,2019-06-22,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,84,R$/l,3.457,0.177,3.199,...,0.482,0.051,2.975,0.093,2.8800,3.38900,0.031,Junho,2019,3.457
106679,2019-06-23,2019-06-29,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,46,R$/l,3.157,0.130,2.899,...,0.356,0.041,2.801,0.103,2.6567,3.07070,0.037,Junho,2019,3.157
106681,2019-06-23,2019-06-29,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,234,R$/l,2.900,0.125,2.630,...,0.489,0.043,2.411,0.067,2.2566,2.60560,0.028,Junho,2019,2.900
106683,2019-06-23,2019-06-29,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,160,R$/l,2.436,0.188,2.177,...,0.296,0.077,2.140,0.116,2.0700,2.44170,0.054,Junho,2019,2.436
106684,2019-06-23,2019-06-29,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,85,R$/l,3.434,0.189,3.129,...,0.475,0.055,2.959,0.058,2.8400,3.09210,0.020,Junho,2019,3.434

In [165]:
regiao_produto['DESVIO_PADRAO_DISTRIBUICAO'].mean()

REGIAO        PRODUTO
CENTRO OESTE  ETANOL HIDRATADO    0.082278
              GASOLINA COMUM      0.057165
              GLP                 3.024617
              GNV                 0.020891
              ÓLEO DIESEL         0.049874
              ÓLEO DIESEL S10     0.073233
NORDESTE      ETANOL HIDRATADO    0.090895
              GASOLINA COMUM      0.056139
              GLP                 2.527986
              GNV                 0.119690
              ÓLEO DIESEL         0.048033
              ÓLEO DIESEL S10     0.065408
NORTE         ETANOL HIDRATADO    0.094058
              GASOLINA COMUM      0.067774
              GLP                 1.734085
              GNV                 0.012959
              ÓLEO DIESEL         0.060785
              ÓLEO DIESEL S10     0.082405
SUDESTE       ETANOL HIDRATADO    0.107642
              GASOLINA COMUM      0.066199
              GLP                 2.741245
              GNV                 0.136902
              ÓLEO DIESEL         0.051781
              ÓLEO DIESEL S10     0.078823
SUL           ETANOL HIDRATADO    0.112108
              GASOLINA COMUM      0.064611
              GLP                 3.461267
              GNV                 0.113510
              ÓLEO DIESEL         0.053771
              ÓLEO DIESEL S10     0.081475
Name: DESVIO_PADRAO_DISTRIBUICAO, dtype: float64

In [164]:
regiao_produto[numeric_values].mean()

                                               DATA INICIAL  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO 2011-12-07 06:20:59.192825088
             GASOLINA COMUM   2011-12-06 02:13:42.463305728
             GLP              2011-12-04 16:35:38.153647360
             GNV              2011-04-27 10:18:50.578512384
             ÓLEO DIESEL      2011-12-06 02:13:42.463305728
             ÓLEO DIESEL S10  2016-06-14 15:43:44.132231424
NORDESTE     ETANOL HIDRATADO 2011-12-02 15:57:16.502980352
             GASOLINA COMUM   2011-12-06 01:51:19.088206080
             GLP              2011-09-07 18:22:07.675506944
             GNV              2011-08-07 21:50:38.021638400
             ÓLEO DIESEL      2011-12-05 20:38:06.135108352
             ÓLEO DIESEL S10  2016-03-29 11:40:31.662269184
NORTE        ETANOL HIDRATADO 2011-09-23 08:24:34.212864512
             GASOLINA COMUM   2011-12-08 13:34:52.532942848
             GLP              2011-11-24 15:49:54.480946176
             GNV              2012-07-06 12:02:57.777777664
             ÓLEO DIESEL      2011-12-09 17:52:25.471180288
             ÓLEO DIESEL S10  2016-04-09 03:45:32.530120448
SUDESTE      ETANOL HIDRATADO 2011-12-04 08:40:32.897672960
             GASOLINA COMUM   2011-12-06 17:54:57.324840704
             GLP              2011-12-07 12:46:35.537137408
             GNV              2011-07-01 11:30:51.319957760
             ÓLEO DIESEL      2011-12-06 17:54:57.324840704
             ÓLEO DIESEL S10  2016-03-30 06:57:22.550036992
SUL          ETANOL HIDRATADO 2011-12-04 17:42:24.326391808
             GASOLINA COMUM   2011-12-05 17:49:17.689039872
             GLP              2011-11-28 16:09:13.137003776
             GNV              2011-04-11 01:44:38.672985856
             ÓLEO DIESEL      2011-12-05 17:49:17.689039872
             ÓLEO DIESEL S10  2016-03-28 01:13:59.525691648

                                                 DATA FINAL  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO 2011-12-13 06:20:59.192825088
             GASOLINA COMUM   2011-12-12 02:13:42.463305728
             GLP              2011-12-10 16:35:38.153647616
             GNV              2011-05-03 10:18:50.578512384
             ÓLEO DIESEL      2011-12-12 02:13:42.463305728
             ÓLEO DIESEL S10  2016-06-20 15:43:44.132231424
NORDESTE     ETANOL HIDRATADO 2011-12-08 15:57:16.502980352
             GASOLINA COMUM   2011-12-12 01:51:19.088206080
             GLP              2011-09-13 18:22:07.675507200
             GNV              2011-08-13 21:50:38.021638400
             ÓLEO DIESEL      2011-12-11 20:38:06.135108352
             ÓLEO DIESEL S10  2016-04-04 11:40:31.662269184
NORTE        ETANOL HIDRATADO 2011-09-29 08:24:34.212864768
             GASOLINA COMUM   2011-12-14 13:34:52.532942848
             GLP              2011-11-30 15:49:54.480946176
             GNV              2012-07-12 12:02:57.777777664
             ÓLEO DIESEL      2011-12-15 17:52:25.471180032
             ÓLEO DIESEL S10  2016-04-15 03:45:32.530120704
SUDESTE      ETANOL HIDRATADO 2011-12-10 08:40:32.897672960
             GASOLINA COMUM   2011-12-12 17:54:57.324840704
             GLP              2011-12-13 12:46:35.537137408
             GNV              2011-07-07 11:30:51.319957760
             ÓLEO DIESEL      2011-12-12 17:54:57.324840704
             ÓLEO DIESEL S10  2016-04-05 06:57:22.550036992
SUL          ETANOL HIDRATADO 2011-12-10 17:42:24.326391808
             GASOLINA COMUM   2011-12-11 17:49:17.689039872
             GLP              2011-12-04 16:09:13.137003776
             GNV              2011-04-17 01:44:38.672985600
             ÓLEO DIESEL      2011-12-11 17:49:17.689039872
             ÓLEO DIESEL S10  2016-04-03 01:13:59.525691648

                               PRECO_MEDIO_REVENDA  DESVIO_PADRAO_REVENDA  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO             2.135670               0.111992
             GASOLINA COMUM               3.077476               0.104105
             GLP                         48.176747               2.911219
             GNV                          1.856312               0.032635
             ÓLEO DIESEL                  2.481286               0.081540
             ÓLEO DIESEL S10              3.294752               0.108976
NORDESTE     ETANOL HIDRATADO             2.320266               0.115449
             GASOLINA COMUM               3.001887               0.108104
             GLP                         41.966090               2.667713
             GNV                          1.881722               0.061486
             ÓLEO DIESEL                  2.346950               0.069301
             ÓLEO DIESEL S10              3.041966               0.091881
NORTE        ETANOL HIDRATADO             2.511624               0.123097
             GASOLINA COMUM               3.149501               0.140339
             GLP                         47.065572               2.811086
             GNV                          2.084399               0.007749
             ÓLEO DIESEL                  2.571048               0.105590
             ÓLEO DIESEL S10              3.316231               0.127927
SUDESTE      ETANOL HIDRATADO             2.163621               0.134447
             GASOLINA COMUM               3.000565               0.122024
             GLP                         42.081544               3.117192
             GNV                          1.716074               0.130730
             ÓLEO DIESEL                  2.339699               0.082670
             ÓLEO DIESEL S10              3.056194               0.109765
SUL          ETANOL HIDRATADO             2.268156               0.123595
             GASOLINA COMUM               2.972569               0.117779
             GLP                         43.490318               3.408160
             GNV                          1.865612               0.065362
             ÓLEO DIESEL                  2.332293               0.081869
             ÓLEO DIESEL S10              2.981775               0.110249

                               PRECO_MINIMO_REVENDA  PRECO_MAXIMO_REVENDA  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              1.926522              2.433303
             GASOLINA COMUM                2.866732              3.338657
             GLP                          40.936969             55.244748
             GNV                           1.824489              1.885087
             ÓLEO DIESEL                   2.310497              2.686205
             ÓLEO DIESEL S10               3.070625              3.559399
NORDESTE     ETANOL HIDRATADO              2.099488              2.654045
             GASOLINA COMUM                2.780405              3.277436
             GLP                          36.142140             47.701105
             GNV                           1.820660              2.038715
             ÓLEO DIESEL                   2.203687              2.534809
             ÓLEO DIESEL S10               2.851121              3.304049
NORTE        ETANOL HIDRATADO              2.331752              2.849155
             GASOLINA COMUM                2.956946              3.540174
             GLP                          42.185523             54.103233
             GNV                           2.079103              2.091321
             ÓLEO DIESEL                   2.400341              2.831189
             ÓLEO DIESEL S10               3.128494              3.645934
SUDESTE      ETANOL HIDRATADO              1.810669              2.629952
             GASOLINA COMUM                2.698406              3.463277
             GLP                          33.297570             51.319812
             GNV                           1.548030              2.123404
             ÓLEO DIESEL                   2.118881              2.659866
             ÓLEO DIESEL S10               2.765417              3.457892
SUL          ETANOL HIDRATADO              1.947168              2.672393
             GASOLINA COMUM                2.677828              3.340463
             GLP                          34.939095             53.352339
             GNV                           1.779690              2.046901
             ÓLEO DIESEL                   2.124973              2.611223
             ÓLEO DIESEL S10               2.707439              3.366409

                               MARGEM_MEDIA_REVENDA  COEF_DE_VARIACAO_REVENDA  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              0.334742                  0.055679
             GASOLINA COMUM                0.413081                  0.033634
             GLP                          10.144382                  0.057783
             GNV                           0.467869                  0.016150
             ÓLEO DIESEL                   0.269293                  0.032117
             ÓLEO DIESEL S10               0.375726                  0.032577
NORDESTE     ETANOL HIDRATADO              0.300006                  0.052053
             GASOLINA COMUM                0.400337                  0.036357
             GLP                           9.951840                  0.060451
             GNV                           0.517594                  0.032138
             ÓLEO DIESEL                   0.233981                  0.029401
             ÓLEO DIESEL S10               0.326030                  0.030066
NORTE        ETANOL HIDRATADO              0.362131                  0.050314
             GASOLINA COMUM                0.454351                  0.045172
             GLP                           8.660637                  0.059383
             GNV                           0.371848                  0.003025
             ÓLEO DIESEL                   0.323795                  0.041224
             ÓLEO DIESEL S10               0.417151                  0.038669
SUDESTE      ETANOL HIDRATADO              0.300850                  0.064111
             GASOLINA COMUM                0.361858                  0.041105
             GLP                          10.952603                  0.070829
             GNV                           0.478567                  0.075199
             ÓLEO DIESEL                   0.261930                  0.034798
             ÓLEO DIESEL S10               0.362285                  0.035397
SUL          ETANOL HIDRATADO              0.316748                  0.055945
             GASOLINA COMUM                0.371459                  0.039308
             GLP                          10.484570                  0.075147
             GNV                           0.478205                  0.032599
             ÓLEO DIESEL                   0.276743                  0.034138
             ÓLEO DIESEL S10               0.368439                  0.036409

                               PRECO_MEDIO_DISTRIBUICAO  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  1.800927
             GASOLINA COMUM                    2.664395
             GLP                              38.032365
             GNV                               1.388443
             ÓLEO DIESEL                       2.211993
             ÓLEO DIESEL S10                   2.919026
NORDESTE     ETANOL HIDRATADO                  2.020260
             GASOLINA COMUM                    2.601550
             GLP                              32.014250
             GNV                               1.364128
             ÓLEO DIESEL                       2.112969
             ÓLEO DIESEL S10                   2.715936
NORTE        ETANOL HIDRATADO                  2.149494
             GASOLINA COMUM                    2.695151
             GLP                              38.404935
             GNV                               1.712551
             ÓLEO DIESEL                       2.247253
             ÓLEO DIESEL S10                   2.899079
SUDESTE      ETANOL HIDRATADO                  1.862771
             GASOLINA COMUM                    2.638708
             GLP                              31.128941
             GNV                               1.237507
             ÓLEO DIESEL                       2.077769
             ÓLEO DIESEL S10                   2.693909
SUL          ETANOL HIDRATADO                  1.951408
             GASOLINA COMUM                    2.601110
             GLP                              33.005748
             GNV                               1.387408
             ÓLEO DIESEL                       2.055550
             ÓLEO DIESEL S10                   2.613336

                               DESVIO_PADRAO_DISTRIBUICAO  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.082278
             GASOLINA COMUM                      0.057165
             GLP                                 3.024617
             GNV                                 0.020891
             ÓLEO DIESEL                         0.049874
             ÓLEO DIESEL S10                     0.073233
NORDESTE     ETANOL HIDRATADO                    0.090895
             GASOLINA COMUM                      0.056139
             GLP                                 2.527986
             GNV                                 0.119690
             ÓLEO DIESEL                         0.048033
             ÓLEO DIESEL S10                     0.065408
NORTE        ETANOL HIDRATADO                    0.094058
             GASOLINA COMUM                      0.067774
             GLP                                 1.734085
             GNV                                 0.012959
             ÓLEO DIESEL                         0.060785
             ÓLEO DIESEL S10                     0.082405
SUDESTE      ETANOL HIDRATADO                    0.107642
             GASOLINA COMUM                      0.066199
             GLP                                 2.741245
             GNV                                 0.136902
             ÓLEO DIESEL                         0.051781
             ÓLEO DIESEL S10                     0.078823
SUL          ETANOL HIDRATADO                    0.112108
             GASOLINA COMUM                      0.064611
             GLP                                 3.461267
             GNV                                 0.113510
             ÓLEO DIESEL                         0.053771
             ÓLEO DIESEL S10                     0.081475

                               PRECO_MINIMO_DISTRIBUICAO  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   1.629448
             GASOLINA COMUM                     2.553451
             GLP                               32.142998
             GNV                                1.370323
             ÓLEO DIESEL                        2.106889
             ÓLEO DIESEL S10                    2.779236
NORDESTE     ETANOL HIDRATADO                   1.799990
             GASOLINA COMUM                     2.487578
             GLP                               27.493395
             GNV                                1.215388
             ÓLEO DIESEL                        2.017312
             ÓLEO DIESEL S10                    2.594516
NORTE        ETANOL HIDRATADO                   1.983308
             GASOLINA COMUM                     2.582237
             GLP                               34.773738
             GNV                                1.704218
             ÓLEO DIESEL                        2.135717
             ÓLEO DIESEL S10                    2.764806
SUDESTE      ETANOL HIDRATADO                   1.540547
             GASOLINA COMUM                     2.438181
             GLP                               24.089119
             GNV                                1.054692
             ÓLEO DIESEL                        1.931599
             ÓLEO DIESEL S10                    2.489478
SUL          ETANOL HIDRATADO                   1.634512
             GASOLINA COMUM                     2.432431
             GLP                               25.791680
             GNV                                1.233294
             ÓLEO DIESEL                        1.926497
             ÓLEO DIESEL S10                    2.438362

                               PRECO_MAXIMO_DISTRIBUICAO  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   2.009326
             GASOLINA COMUM                     2.824949
             GLP                               43.451689
             GNV                                1.407466
             ÓLEO DIESEL                        2.323683
             ÓLEO DIESEL S10                    3.040020
NORDESTE     ETANOL HIDRATADO                   2.229782
             GASOLINA COMUM                     2.764345
             GLP                               36.713845
             GNV                                1.522437
             ÓLEO DIESEL                        2.223088
             ÓLEO DIESEL S10                    2.865362
NORTE        ETANOL HIDRATADO                   2.320192
             GASOLINA COMUM                     2.851914
             GLP                               41.960261
             GNV                                1.724462
             ÓLEO DIESEL                        2.366200
             ÓLEO DIESEL S10                    3.047200
SUDESTE      ETANOL HIDRATADO                   2.179384
             GASOLINA COMUM                     2.882938
             GLP                               39.873958
             GNV                                1.487619
             ÓLEO DIESEL                        2.256056
             ÓLEO DIESEL S10                    2.924680
SUL          ETANOL HIDRATADO                   2.240606
             GASOLINA COMUM                     2.826101
             GLP                               42.029554
             GNV                                1.512227
             ÓLEO DIESEL                        2.207007
             ÓLEO DIESEL S10                    2.814347

                               COEF_DE_VARIACAO_DISTRIBUICAO  \
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                       0.049851
             GASOLINA COMUM                         0.021549
             GLP                                    0.076607
             GNV                                    0.014126
             ÓLEO DIESEL                            0.021995
             ÓLEO DIESEL S10                        0.024829
NORDESTE     ETANOL HIDRATADO                       0.046830
             GASOLINA COMUM                         0.021565
             GLP                                    0.076961
             GNV                                    0.098374
             ÓLEO DIESEL                            0.022107
             ÓLEO DIESEL S10                        0.024048
NORTE        ETANOL HIDRATADO                       0.046450
             GASOLINA COMUM                         0.025225
             GLP                                    0.044272
             GNV                                    0.006025
             ÓLEO DIESEL                            0.026873
             ÓLEO DIESEL S10                        0.028042
SUDESTE      ETANOL HIDRATADO                       0.060287
             GASOLINA COMUM                         0.024951
             GLP                                    0.087555
             GNV                                    0.127156
             ÓLEO DIESEL                            0.023954
             ÓLEO DIESEL S10                        0.028969
SUL          ETANOL HIDRATADO                       0.062075
             GASOLINA COMUM                         0.024564
             GLP                                    0.102631
             GNV                                    0.082502
             ÓLEO DIESEL                            0.025223
             ÓLEO DIESEL S10                        0.030871

                               PREÇO_MEDIO_REVENDA

Usamos o método .agg() que recebe uma lista contendo funções para mostrar o group com as funções desejadas.

In [172]:
regiao_produto[numeric_values].agg(['min', 'max', 'mean'])

                              DATA INICIAL             \
                                       min        max
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO   2004-05-09 2019-06-23
             GASOLINA COMUM     2004-05-09 2019-06-23
             GLP                2004-05-09 2019-06-23
             GNV                2004-05-09 2019-06-23
             ÓLEO DIESEL        2004-05-09 2019-06-23
             ÓLEO DIESEL S10    2013-01-06 2019-06-23
NORDESTE     ETANOL HIDRATADO   2004-05-09 2019-06-23
             GASOLINA COMUM     2004-05-09 2019-06-23
             GLP                2004-05-09 2019-06-23
             GNV                2004-05-09 2019-06-23
             ÓLEO DIESEL        2004-05-09 2019-06-23
             ÓLEO DIESEL S10    2012-12-30 2019-06-23
NORTE        ETANOL HIDRATADO   2004-05-09 2019-06-23
             GASOLINA COMUM     2004-05-09 2019-06-23
             GLP                2004-05-09 2019-06-23
             GNV                2005-09-18 2019-06-09
             ÓLEO DIESEL        2004-05-09 2019-06-23
             ÓLEO DIESEL S10    2012-12-30 2019-06-23
SUDESTE      ETANOL HIDRATADO   2004-05-09 2019-06-23
             GASOLINA COMUM     2004-05-09 2019-06-23
             GLP                2004-05-09 2019-06-23
             GNV                2004-05-09 2019-06-23
             ÓLEO DIESEL        2004-05-09 2019-06-23
             ÓLEO DIESEL S10    2012-12-30 2019-06-23
SUL          ETANOL HIDRATADO   2004-05-09 2019-06-23
             GASOLINA COMUM     2004-05-09 2019-06-23
             GLP                2004-05-09 2019-06-23
             GNV                2004-05-09 2019-06-23
             ÓLEO DIESEL        2004-05-09 2019-06-23
             ÓLEO DIESEL S10    2012-12-30 2019-06-23

                                                            DATA FINAL  \
                                                       mean        min
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO 2011-12-07 06:20:59.192825088 2004-05-15
             GASOLINA COMUM   2011-12-06 02:13:42.463305728 2004-05-15
             GLP              2011-12-04 16:35:38.153647360 2004-05-15
             GNV              2011-04-27 10:18:50.578512384 2004-05-15
             ÓLEO DIESEL      2011-12-06 02:13:42.463305728 2004-05-15
             ÓLEO DIESEL S10  2016-06-14 15:43:44.132231424 2013-01-12
NORDESTE     ETANOL HIDRATADO 2011-12-02 15:57:16.502980352 2004-05-15
             GASOLINA COMUM   2011-12-06 01:51:19.088206080 2004-05-15
             GLP              2011-09-07 18:22:07.675506944 2004-05-15
             GNV              2011-08-07 21:50:38.021638400 2004-05-15
             ÓLEO DIESEL      2011-12-05 20:38:06.135108352 2004-05-15
             ÓLEO DIESEL S10  2016-03-29 11:40:31.662269184 2013-01-05
NORTE        ETANOL HIDRATADO 2011-09-23 08:24:34.212864512 2004-05-15
             GASOLINA COMUM   2011-12-08 13:34:52.532942848 2004-05-15
             GLP              2011-11-24 15:49:54.480946176 2004-05-15
             GNV              2012-07-06 12:02:57.777777664 2005-09-24
             ÓLEO DIESEL      2011-12-09 17:52:25.471180288 2004-05-15
             ÓLEO DIESEL S10  2016-04-09 03:45:32.530120448 2013-01-05
SUDESTE      ETANOL HIDRATADO 2011-12-04 08:40:32.897672960 2004-05-15
             GASOLINA COMUM   2011-12-06 17:54:57.324840704 2004-05-15
             GLP              2011-12-07 12:46:35.537137408 2004-05-15
             GNV              2011-07-01 11:30:51.319957760 2004-05-15
             ÓLEO DIESEL      2011-12-06 17:54:57.324840704 2004-05-15
             ÓLEO DIESEL S10  2016-03-30 06:57:22.550036992 2013-01-05
SUL          ETANOL HIDRATADO 2011-12-04 17:42:24.326391808 2004-05-15
             GASOLINA COMUM   2011-12-05 17:49:17.689039872 2004-05-15
             GLP              2011-11-28 16:09:13.137003776 2004-05-15
             GNV              2011-04-11 01:44:38.672985856 2004-05-15
             ÓLEO DIESEL      2011-12-05 17:49:17.689039872 2004-05-15
             ÓLEO DIESEL S10  2016-03-28 01:13:59.525691648 2013-01-05

                                                                        \
                                     max                          mean
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO 2019-06-29 2011-12-13 06:20:59.192825088
             GASOLINA COMUM   2019-06-29 2011-12-12 02:13:42.463305728
             GLP              2019-06-29 2011-12-10 16:35:38.153647616
             GNV              2019-06-29 2011-05-03 10:18:50.578512384
             ÓLEO DIESEL      2019-06-29 2011-12-12 02:13:42.463305728
             ÓLEO DIESEL S10  2019-06-29 2016-06-20 15:43:44.132231424
NORDESTE     ETANOL HIDRATADO 2019-06-29 2011-12-08 15:57:16.502980352
             GASOLINA COMUM   2019-06-29 2011-12-12 01:51:19.088206080
             GLP              2019-06-29 2011-09-13 18:22:07.675507200
             GNV              2019-06-29 2011-08-13 21:50:38.021638400
             ÓLEO DIESEL      2019-06-29 2011-12-11 20:38:06.135108352
             ÓLEO DIESEL S10  2019-06-29 2016-04-04 11:40:31.662269184
NORTE        ETANOL HIDRATADO 2019-06-29 2011-09-29 08:24:34.212864768
             GASOLINA COMUM   2019-06-29 2011-12-14 13:34:52.532942848
             GLP              2019-06-29 2011-11-30 15:49:54.480946176
             GNV              2019-06-15 2012-07-12 12:02:57.777777664
             ÓLEO DIESEL      2019-06-29 2011-12-15 17:52:25.471180032
             ÓLEO DIESEL S10  2019-06-29 2016-04-15 03:45:32.530120704
SUDESTE      ETANOL HIDRATADO 2019-06-29 2011-12-10 08:40:32.897672960
             GASOLINA COMUM   2019-06-29 2011-12-12 17:54:57.324840704
             GLP              2019-06-29 2011-12-13 12:46:35.537137408
             GNV              2019-06-29 2011-07-07 11:30:51.319957760
             ÓLEO DIESEL      2019-06-29 2011-12-12 17:54:57.324840704
             ÓLEO DIESEL S10  2019-06-29 2016-04-05 06:57:22.550036992
SUL          ETANOL HIDRATADO 2019-06-29 2011-12-10 17:42:24.326391808
             GASOLINA COMUM   2019-06-29 2011-12-11 17:49:17.689039872
             GLP              2019-06-29 2011-12-04 16:09:13.137003776
             GNV              2019-06-29 2011-04-17 01:44:38.672985600
             ÓLEO DIESEL      2019-06-29 2011-12-11 17:49:17.689039872
             ÓLEO DIESEL S10  2019-06-29 2016-04-03 01:13:59.525691648

                              PRECO_MEDIO_REVENDA                     \
                                              min     max       mean
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO               1.162   3.598   2.135670
             GASOLINA COMUM                 1.936   4.963   3.077476
             GLP                           28.791  99.357  48.176747
             GNV                            1.097   3.239   1.856312
             ÓLEO DIESEL                    1.435   4.162   2.481286
             ÓLEO DIESEL S10                2.305   4.200   3.294752
NORDESTE     ETANOL HIDRATADO               1.181   3.927   2.320266
             GASOLINA COMUM                 1.949   4.951   3.001887
             GLP                           28.367  79.630  41.966090
             GNV                            0.975   3.811   1.881722
             ÓLEO DIESEL                    1.313   4.010   2.346950
             ÓLEO DIESEL S10                2.130   4.027   3.041966
NORTE        ETANOL HIDRATADO               1.226   4.102   2.511624
             GASOLINA COMUM                 1.995   5.362   3.149501
             GLP                           28.086  87.270  47.065572
             GNV                            1.399   3.240   2.084399
             ÓLEO DIESEL                    1.450   4.774   2.571048
             ÓLEO DIESEL S10                2.193   4.878   3.316231
SUDESTE      ETANOL HIDRATADO               0.766   4.115   2.163621
             GASOLINA COMUM                 1.888   5.119   3.000565
             GLP                           28.026  79.192  42.081544
             GNV                            0.996   3.399   1.716074
             ÓLEO DIESEL                    1.356   3.994   2.339699
             ÓLEO DIESEL S10                2.180   4.080   3.056194
SUL          ETANOL HIDRATADO               0.922   4.287   2.268156
             GASOLINA COMUM                 1.961   4.953   2.972569
             GLP                           29.440  72.088  43.490318
             GNV                            1.168   3.476   1.865612
             ÓLEO DIESEL                    1.374   3.800   2.332293
             ÓLEO DIESEL S10                2.151   3.815   2.981775

                              DESVIO_PADRAO_REVENDA  ...  \
                                                min  ...
REGIAO       PRODUTO                                 ...
CENTRO OESTE ETANOL HIDRATADO                 0.000  ...
             GASOLINA COMUM                   0.000  ...
             GLP                              0.345  ...
             GNV                              0.000  ...
             ÓLEO DIESEL                      0.004  ...
             ÓLEO DIESEL S10                  0.000  ...
NORDESTE     ETANOL HIDRATADO                 0.000  ...
             GASOLINA COMUM                   0.000  ...
             GLP                              0.000  ...
             GNV                              0.000  ...
             ÓLEO DIESEL                      0.008  ...
             ÓLEO DIESEL S10                  0.007  ...
NORTE        ETANOL HIDRATADO                 0.000  ...
             GASOLINA COMUM                   0.004  ...
             GLP                              0.000  ...
             GNV                              0.000  ...
             ÓLEO DIESEL                      0.009  ...
             ÓLEO DIESEL S10                  0.000  ...
SUDESTE      ETANOL HIDRATADO                 0.038  ...
             GASOLINA COMUM                   0.035  ...
             GLP                              0.895  ...
             GNV                              0.000  ...
             ÓLEO DIESEL                      0.029  ...
             ÓLEO DIESEL S10                  0.033  ...
SUL          ETANOL HIDRATADO                 0.050  ...
             GASOLINA COMUM                   0.040  ...
             GLP                              0.952  ...
             GNV                              0.000  ...
             ÓLEO DIESEL                      0.039  ...
             ÓLEO DIESEL S10                  0.043  ...

                              PRECO_MINIMO_DISTRIBUICAO  \
                                                   mean
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  1.629448
             GASOLINA COMUM                    2.553451
             GLP                              32.142998
             GNV                               1.370323
             ÓLEO DIESEL                       2.106889
             ÓLEO DIESEL S10                   2.779236
NORDESTE     ETANOL HIDRATADO                  1.799990
             GASOLINA COMUM                    2.487578
             GLP                              27.493395
             GNV                               1.215388
             ÓLEO DIESEL                       2.017312
             ÓLEO DIESEL S10                   2.594516
NORTE        ETANOL HIDRATADO                  1.983308
             GASOLINA COMUM                    2.582237
             GLP                              34.773738
             GNV                               1.704218
             ÓLEO DIESEL                       2.135717
             ÓLEO DIESEL S10                   2.764806
SUDESTE      ETANOL HIDRATADO                  1.540547
             GASOLINA COMUM                    2.438181
             GLP                              24.089119
             GNV                               1.054692
             ÓLEO DIESEL                       1.931599
             ÓLEO DIESEL S10                   2.489478
SUL          ETANOL HIDRATADO                  1.634512
             GASOLINA COMUM                    2.432431
             GLP                              25.791680
             GNV                               1.233294
             ÓLEO DIESEL                       1.926497
             ÓLEO DIESEL S10                   2.438362

                              PRECO_MAXIMO_DISTRIBUICAO                      \
                                                    min      max       mean
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.9666   3.4093   2.009326
             GASOLINA COMUM                      1.7427   4.6727   2.824949
             GLP                                24.0000  94.5000  43.451689
             GNV                                 0.8359   2.8664   1.407466
             ÓLEO DIESEL                         1.2817   3.9878   2.323683
             ÓLEO DIESEL S10                     2.1006   4.3063   3.040020
NORDESTE     ETANOL HIDRATADO                    0.7669   3.9568   2.229782
             GASOLINA COMUM                      1.7357   4.8852   2.764345
             GLP                                20.2600  89.9000  36.713845
             GNV                                 0.5992   3.1941   1.522437
             ÓLEO DIESEL                         1.2410   3.8085   2.223088
             ÓLEO DIESEL S10                     1.9338   3.9362   2.865362
NORTE        ETANOL HIDRATADO                    0.9612   4.2137   2.320192
             GASOLINA COMUM                      1.7080   4.9140   2.851914
             GLP                                24.8600  88.0000  41.960261
             GNV                                 1.0158   2.7200   1.724462
             ÓLEO DIESEL                         1.3370   4.2700   2.366200
             ÓLEO DIESEL S10                     2.0046   4.4782   3.047200
SUDESTE      ETANOL HIDRATADO                    0.9689   4.1900   2.179384
             GASOLINA COMUM                      1.9100   5.0910   2.882938
             GLP                                22.0000  76.0500  39.873958
             GNV                                 0.7822   3.2887   1.487619
             ÓLEO DIESEL                         1.2548   4.1360   2.256056
             ÓLEO DIESEL S10                     1.9900   4.1099   2.924680
SUL          ETANOL HIDRATADO                    0.9587   4.4571   2.240606
             GASOLINA COMUM                      1.9400   4.7734   2.826101
             GLP                                27.4000  74.0000  42.029554
             GNV                                 0.7044   3.3724   1.512227
             ÓLEO DIESEL                         1.2888   3.6309   2.207007
             ÓLEO DIESEL S10                     1.9810   3.8117   2.814347

                              COEF_DE_VARIACAO_DISTRIBUICAO                   \
                                                        min    max      mean
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                         0.000  0.187  0.049851
             GASOLINA COMUM                           0.000  0.085  0.021549
             GLP                                      0.000  0.297  0.076607
             GNV                                      0.000  0.419  0.014126
             ÓLEO DIESEL                              0.000  0.087  0.021995
             ÓLEO DIESEL S10                          0.000  0.107  0.024829
NORDESTE     ETANOL HIDRATADO                         0.000  0.186  0.046830
             GASOLINA COMUM                           0.000  0.065  0.021565
             GLP                                      0.000  0.345  0.076961
             GNV                                      0.000  0.608  0.098374
             ÓLEO DIESEL                              0.000  0.104  0.022107
             ÓLEO DIESEL S10                          0.000  0.074  0.024048
NORTE        ETANOL HIDRATADO                         0.000  0.368  0.046450
             GASOLINA COMUM                           0.000  0.123  0.025225
             GLP                                      0.000  0.283  0.044272
             GNV                                      0.000  0.152  0.006025
             ÓLEO DIESEL                              0.000  0.267  0.026873
             ÓLEO DIESEL S10                          0.000  0.097  0.028042
SUDESTE      ETANOL HIDRATADO                         0.000  0.221  0.060287
             GASOLINA COMUM                           0.000  0.067  0.024951
             GLP                                      0.000  0.183  0.087555
             GNV                                      0.000  0.780  0.127156
             ÓLEO DIESEL                              0.000  0.059  0.023954
             ÓLEO DIESEL S10                          0.000  0.064  0.028969
SUL          ETANOL HIDRATADO                         0.014  0.201  0.062075
             GASOLINA COMUM                           0.013  0.059  0.024564
             GLP                                      0.000  0.230  0.102631
             GNV                                      0.000  0.435  0.082502
             ÓLEO DIESEL                              0.000  0.061  0.025223
             ÓLEO DIESEL S10                          0.000  0.079  0.030871

                              PREÇO_MEDIO_REVENDA
                                              min     max       mean
REGIAO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO               1.162   3.598   2.135670
             GASOLINA COMUM                 1.936   4.963   3.077476
             GLP                           28.791  99.357  48.176747
             GNV                            1.097   3.239   1.856312
             ÓLEO DIESEL                    1.435   4.162   2.481286
             ÓLEO DIESEL S10                2.305   4.200   3.294752
NORDESTE     ETANOL HIDRATADO               1.181   3.927   2.320266
             GASOLINA COMUM                 1.949   4.951   3.001887
             GLP                           28.367  79.630  41.966090
             GNV                            0.975   3.811   1.881722
             ÓLEO DIESEL                    1.313   4.010   2.346950
             ÓLEO DIESEL S10                2.130   4.027   3.041966
NORTE        ETANOL HIDRATADO               1.226   4.102   2.511624
             GASOLINA COMUM                 1.995   5.362   3.149501
             GLP                           28.086  87.270  47.065572
             GNV                            1.399   3.240   2.084399
             ÓLEO DIESEL                    1.450   4.774   2.571048
             ÓLEO DIESEL S10                2.193   4.878   3.316231
SUDESTE      ETANOL HIDRATADO               0.766   4.115   2.163621
             GASOLINA COMUM                 1.888   5.119   3.000565
             GLP                           28.026  79.192  42.081544
             GNV                            0.996   3.399   1.716074
             ÓLEO DIESEL                    1.356   3.994   2.339699
             ÓLEO DIESEL S10                2.180   4.080   3.056194
SUL          ETANOL HIDRATADO               0.922   4.287   2.268156
             GASOLINA COMUM                 1.961   4.953   2.972569
             GLP                           29.440  72.088  43.490318
             GNV                            1.168   3.476   1.865612
             ÓLEO DIESEL                    1.374   3.800   2.332293
             ÓLEO DIESEL S10                2.151   3.815   2.981775

[30 rows x 42 columns]

<center><span style='font-weight: bold; font-size: 30px'>Ordenação</span></center>
<br><br>
Para ordenar um DataFrame, podemos usar o método <span style='font-style: italic'>DataFrame.sort_values(by='column')</span> onde o parametro incial pode receber uma coluna ou lista de colunas em que a tabela será ordenada. <br>
Por padrão, a ordenação é ascendente. Se quisermos alterar esse parâmetro, torná-lo um valor falso.
<span style='font-style: italic'>DataFrame.sort_values(by='column', ascending=False)</span>.

In [185]:
alunos = {'Notas1':[9, 9, 10, 8],
         'Notas2': [9, 10, 10, 9],
         'Notas3':[10, 10, 9, 9]}
Nomes =  [ 'Fernando', 'Nathalia','Gabriel', 'Lauro']
tabela = pd.DataFrame(alunos, index=Nomes)
tabela

          Notas1  Notas2  Notas3
Fernando       9       9      10
Nathalia       9      10      10
Gabriel       10      10       9
Lauro          8       9       9

In [187]:
tabela.sort_values(by=['Notas1', 'Notas2', 'Notas3'], ascending=False)

          Notas1  Notas2  Notas3
Gabriel       10      10       9
Nathalia       9      10      10
Fernando       9       9      10
Lauro          8       9       9

<center><span style='font-weight: Bold; font-size: 30px'>Exercícios</span></center>
<br>
Usaremos o método <span style='font-style: italic'>DataFrame.drop(DataFrame[DataFrame[coluns] == value]).index</span> para deletar as linhas da coluna 'ANO' que contém o valor 2019. Logo em seguida, iremos verificar quantos registros temos para cada tipo de produto

In [204]:
gasdffinal = gasdfpre.copy()
x = gasdffinal['ANO'] == 2019
gasdffinal.drop(gasdffinal[gasdffinal['ANO']==2019].index)

,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,...,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PREÇO_MEDIO_REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,Maio,2004,1.288
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,Maio,2004,1.162
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,Maio,2004,1.389
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,Maio,2004,1.262
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,Maio,2004,1.181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103063,2018-12-30,2019-01-05,SUDESTE,RIO DE JANEIRO,GNV,122,R$/m3,3.080,0.262,2.798,...,0.699,0.085,2.381,0.161,2.1670,2.86970,0.068,Dezembro,2018,3.080
103064,2018-12-30,2019-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,10,R$/m3,3.465,0.060,3.370,...,0.759,0.017,2.706,0.000,2.7059,2.70590,0.000,Dezembro,2018,3.465
103065,2018-12-30,2019-01-05,SUL,RIO GRANDE DO SUL,GNV,16,R$/m3,3.402,0.103,3.199,...,1.296,0.030,2.106,0.249,1.8775,2.37240,0.118,Dezembro,2018,3.402
103066,2018-12-30,2019-01-05,SUL,SANTA CATARINA,GNV,15,R$/m3,2.944,0.124,2.790,...,0.670,0.042,2.274,0.283,1.8738,2.27400,0.124,Dezembro,2018,2.944
103067,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GNV,41,R$/m3,2.353,0.451,1.999,...,0.467,0.192,1.886,0.250,1.6400,2.33200,0.133,Dezembro,2018,2.353

In [211]:
produtos = gasdffinal.groupby(['REGIAO','PRODUTO'])
produtos.get_group(('SUL','ETANOL HIDRATADO'))

,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,...,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PREÇO_MEDIO_REVENDA
24,2004-05-09,2004-05-15,SUL,PARANA,ETANOL HIDRATADO,760,R$/l,0.922,0.083,0.740,...,0.255,0.090,0.667,0.105,0.4357,0.9587,0.157,Maio,2004,0.922
25,2004-05-09,2004-05-15,SUL,RIO GRANDE DO SUL,ETANOL HIDRATADO,689,R$/l,1.224,0.143,0.880,...,0.332,0.117,0.892,0.090,0.6440,1.2727,0.101,Maio,2004,1.224
26,2004-05-09,2004-05-15,SUL,SANTA CATARINA,ETANOL HIDRATADO,506,R$/l,1.229,0.077,0.999,...,0.416,0.063,0.813,0.097,0.5700,1.2348,0.119,Maio,2004,1.229
51,2004-05-16,2004-05-22,SUL,PARANA,ETANOL HIDRATADO,769,R$/l,0.922,0.088,0.730,...,0.254,0.095,0.668,0.100,0.4337,0.9587,0.150,Maio,2004,0.922
52,2004-05-16,2004-05-22,SUL,RIO GRANDE DO SUL,ETANOL HIDRATADO,674,R$/l,1.220,0.142,0.898,...,0.324,0.116,0.896,0.088,0.6440,1.2378,0.098,Maio,2004,1.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106544,2019-06-16,2019-06-22,SUL,RIO GRANDE DO SUL,ETANOL HIDRATADO,181,R$/l,4.157,0.241,3.649,...,0.659,0.058,3.498,0.235,2.5030,3.8612,0.067,Junho,2019,4.157
106547,2019-06-16,2019-06-22,SUL,SANTA CATARINA,ETANOL HIDRATADO,165,R$/l,3.611,0.182,3.170,...,0.532,0.050,3.079,0.144,2.8139,3.3311,0.047,Junho,2019,3.611
106688,2019-06-23,2019-06-29,SUL,PARANA,ETANOL HIDRATADO,373,R$/l,2.851,0.147,2.590,...,0.329,0.052,2.522,0.093,2.2829,2.9121,0.037,Junho,2019,2.851
106693,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,ETANOL HIDRATADO,184,R$/l,4.116,0.258,3.529,...,0.619,0.063,3.497,0.241,2.5030,3.9113,0.069,Junho,2019,4.116
106696,2019-06-23,2019-06-29,SUL,SANTA CATARINA,ETANOL HIDRATADO,151,R$/l,3.601,0.192,3.170,...,0.527,0.053,3.074,0.154,2.8100,3.3311,0.050,Junho,2019,3.601

Outra forma de fazer seria fazer um grupo de produtos e usar o método <span style='font-style: italic'>group['column'].value_counts()</span> para contar os valores de produtos separados por região.

In [215]:
prod = gasdffinal.groupby('PRODUTO')
prod['REGIAO'].value_counts()

PRODUTO           REGIAO
ETANOL HIDRATADO  NORDESTE        7046
                  NORTE           5177
                  SUDESTE         3137
                  CENTRO OESTE    3122
                  SUL             2353
GASOLINA COMUM    NORDESTE        7063
                  NORTE           5464
                  SUDESTE         3140
                  CENTRO OESTE    3134
                  SUL             2354
GLP               NORDESTE        6410
                  NORTE           5327
                  SUDESTE         3137
                  CENTRO OESTE    3098
                  SUL             2343
GNV               NORDESTE        5176
                  SUDESTE         2841
                  SUL             1899
                  CENTRO OESTE     847
                  NORTE            243
ÓLEO DIESEL       NORDESTE        7061
                  NORTE           5465
                  SUDESTE         3140
                  CENTRO OESTE    3134
                  SUL             2354
ÓLEO DIESEL S10   NORDESTE        3032
                  NORTE           2324
                  SUDESTE         1349
                  CENTRO OESTE    1210
                  SUL             1012
Name: count, dtype: int64

Para deixar mais organizado, podemos usar o método to_frame() para criar um DataFrame

In [220]:
proddata = prod['REGIAO'].value_counts().to_frame()
proddata

                               count
PRODUTO          REGIAO
ETANOL HIDRATADO NORDESTE       7046
                 NORTE          5177
                 SUDESTE        3137
                 CENTRO OESTE   3122
                 SUL            2353
GASOLINA COMUM   NORDESTE       7063
                 NORTE          5464
                 SUDESTE        3140
                 CENTRO OESTE   3134
                 SUL            2354
GLP              NORDESTE       6410
                 NORTE          5327
                 SUDESTE        3137
                 CENTRO OESTE   3098
                 SUL            2343
GNV              NORDESTE       5176
                 SUDESTE        2841
                 SUL            1899
                 CENTRO OESTE    847
                 NORTE           243
ÓLEO DIESEL      NORDESTE       7061
                 NORTE          5465
                 SUDESTE        3140
                 CENTRO OESTE   3134
                 SUL            2354
ÓLEO DIESEL S10  NORDESTE       3032
                 NORTE          2324
                 SUDESTE        1349
                 CENTRO OESTE   1210
                 SUL            1012

In [236]:
variacao = gasdffinal.query('PRODUTO=="GASOLINA COMUM" & ANO==2018 & ESTADO=="SAO PAULO"')
variacao['PRECO_MEDIO_REVENDA'].describe()
variacao.shape

(52, 21)

In [242]:
variacao2 = gasdffinal.query('(PRODUTO=="GASOLINA COMUM" | PRODUTO=="ETANOL HIDRATADO") & ANO==2018 & ESTADO=="SAO PAULO"')
variacao2

,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,...,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PREÇO_MEDIO_REVENDA
95270,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1664,R$/l,2.833,0.139,2.449,...,0.338,0.049,2.495,0.092,2.1842,2.8833,0.037,Janeiro,2018,2.833
95351,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,3.988,0.156,3.499,...,0.411,0.039,3.577,0.104,2.9900,3.9510,0.029,Janeiro,2018,3.988
95421,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1661,R$/l,2.868,0.134,2.399,...,0.331,0.047,2.537,0.087,2.2600,2.8471,0.034,Janeiro,2018,2.868
95502,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,GASOLINA COMUM,1648,R$/l,4.002,0.155,3.549,...,0.412,0.039,3.590,0.102,2.9900,3.9014,0.028,Janeiro,2018,4.002
95573,2018-01-21,2018-01-27,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1662,R$/l,2.874,0.135,2.399,...,0.324,0.047,2.550,0.095,1.6900,2.9722,0.037,Janeiro,2018,2.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102724,2018-12-16,2018-12-22,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,4.129,0.201,3.699,...,0.490,0.049,3.639,0.110,3.3500,3.9892,0.030,Dezembro,2018,4.129
102793,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1662,R$/l,2.644,0.163,2.149,...,0.305,0.062,2.339,0.094,2.0067,2.7443,0.040,Dezembro,2018,2.644
102874,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.129,0.201,3.699,...,0.484,0.049,3.645,0.107,3.3500,3.9892,0.029,Dezembro,2018,4.129
102944,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1661,R$/l,2.643,0.161,2.259,...,0.303,0.061,2.340,0.097,1.9072,2.7957,0.041,Dezembro,2018,2.643
103025,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.113,0.201,3.599,...,0.503,0.049,3.610,0.100,3.3500,3.9585,0.028,Dezembro,2018,4.113

In [247]:
variacao3 = gasdffinal.query('PRODUTO in ["GASOLINA COMUM", "ETANOL HIDRATADO"] and ANO==2018 and ESTADO=="SAO PAULO"')
variacao3

,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO_DE_POSTOS_PESQUISADOS,UNIDADE DE MEDIDA,PRECO_MEDIO_REVENDA,DESVIO_PADRAO_REVENDA,PRECO_MINIMO_REVENDA,...,MARGEM_MEDIA_REVENDA,COEF_DE_VARIACAO_REVENDA,PRECO_MEDIO_DISTRIBUICAO,DESVIO_PADRAO_DISTRIBUICAO,PRECO_MINIMO_DISTRIBUICAO,PRECO_MAXIMO_DISTRIBUICAO,COEF_DE_VARIACAO_DISTRIBUICAO,MES,ANO,PREÇO_MEDIO_REVENDA
95270,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1664,R$/l,2.833,0.139,2.449,...,0.338,0.049,2.495,0.092,2.1842,2.8833,0.037,Janeiro,2018,2.833
95351,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,3.988,0.156,3.499,...,0.411,0.039,3.577,0.104,2.9900,3.9510,0.029,Janeiro,2018,3.988
95421,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1661,R$/l,2.868,0.134,2.399,...,0.331,0.047,2.537,0.087,2.2600,2.8471,0.034,Janeiro,2018,2.868
95502,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,GASOLINA COMUM,1648,R$/l,4.002,0.155,3.549,...,0.412,0.039,3.590,0.102,2.9900,3.9014,0.028,Janeiro,2018,4.002
95573,2018-01-21,2018-01-27,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1662,R$/l,2.874,0.135,2.399,...,0.324,0.047,2.550,0.095,1.6900,2.9722,0.037,Janeiro,2018,2.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102724,2018-12-16,2018-12-22,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,4.129,0.201,3.699,...,0.490,0.049,3.639,0.110,3.3500,3.9892,0.030,Dezembro,2018,4.129
102793,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1662,R$/l,2.644,0.163,2.149,...,0.305,0.062,2.339,0.094,2.0067,2.7443,0.040,Dezembro,2018,2.644
102874,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.129,0.201,3.699,...,0.484,0.049,3.645,0.107,3.3500,3.9892,0.029,Dezembro,2018,4.129
102944,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1661,R$/l,2.643,0.161,2.259,...,0.303,0.061,2.340,0.097,1.9072,2.7957,0.041,Dezembro,2018,2.643
103025,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.113,0.201,3.599,...,0.503,0.049,3.610,0.100,3.3500,3.9585,0.028,Dezembro,2018,4.113

In [248]:
estatistica = variacao3.groupby('PRODUTO')
estatistica['PRECO_MEDIO_REVENDA'].describe()

,count,mean,std,min,25%,50%,75%,max
PRODUTO,,,,,,,,
ETANOL HIDRATADO,52.0,2.711904,0.141365,2.393,2.6315,2.720,2.83825,2.892
GASOLINA COMUM,52.0,4.202769,0.180672,3.970,4.0080,4.202,4.33625,4.512